.table-container {
    width: 100%;
    max-height: 500px;
    overflow-x: overlay;
    margin-top: 12px;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
}

.table {
    width: 100%;
    min-width: 1200px;
    border-spacing: 0;
}

.table-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

tr {
    height: 48px;
    line-height: 0;
}

tr:hover td{
    background-color: #F2F2F2;
}

th {
    text-align: left;
    padding: 6px;
    background-color: #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    height: 48px;
}

th.tb-center {
    text-align: center;
}

th, td {
    font-size: 1.4rem;
    line-height: 2.2rem;
    white-space: nowrap;
}

th + th, td+td {
    border-left: 1px solid #BDBDBD;
}

td+td {
    border-left: 1px solid var(--outline);
}

td {
    text-align: left;
    padding: 6px;
    border-bottom: 1px solid var(--outline);
    background-color: #fff;
}


td.tb-center {
    text-align: center;
}

.edit-btn {
    position: sticky;
    top: 0;
    right: 0;
}

.check-col {
    position: sticky;
    top: 0;
    left: 0;
}

.table__header {
    display: flex;
    align-items: center;
}

.content-section {
    width: 100%;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0px 0px 30px #ccc;
    position: relative;
}

.search-empl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.search-box {
    position: relative;
    width: fit-content;
}

.text-input.search-input {
    width: 260px;
}

.search-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(@/assets/img/Sprites.64af8f61.svg) no-repeat;
    background-position: -425px -33px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.reload-icon {
    width: 22px;
    height: 24px;
    background-color: red;
    background: url(@/assets/img/Sprites.64af8f61.svg) no-repeat;
    background-position: -425px -200px;
    margin-left: 12px;
    cursor: pointer;
}

.export-icon {
    margin-left: 12px;
    width: 24px;
    height: 24px;
    background-position: -704px -255px;
}


.select-action-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.select-action-wrapper>span {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-right: 12px;
}


.pagination {
    display: flex;
    align-items: center;
    margin-top: 12px;
    font-size: 1.4rem;
    color: #666;
}

.pagination strong, .pagination .number {
    color: #1f1f1f;
}

.total, .total strong {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.row-per-page {
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 8px;
    margin-right: 12px;
    cursor: pointer;
}

.row-per-page .value{
    line-height: 0;
    margin-right: 4px;
}


.triangle-down {
    margin: unset;
    margin-left: auto;
    width: 16px;
    height: 16px;
    background-position: -559px -359px;
}

.current-page {
    margin-right: 12px;
}

/* pagination  */

.left-arrow-icon {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    background-position: -32px -360px;
}

.right-arrow-icon {
    margin: unset;
    width: 16px;
    height: 16px;
    background-position: -78px -360px;
}

.page.active {
    border: 2px solid var(--primary-color);
}

.dots {
    margin-left: 4px;
}

.table--empty {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.v-list-item:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}