.form-row {
    width: 100%;
    display: flex;
    margin-top: 22px;
}
.gutter-32 {
    gap: 32px;
}
.gutter-8 {
    gap: 8px;
}
.w-half {
    width: 50%;
}
.w-40p {
    width: 40%;
}
.w-30p {
    width: 30%;
}
.w-25p {
    width: 25%;
}
.w-70p {
    width: 70%;
}
.w-60p {
    width: 60%;
}
