.pop-up-container {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
}
.pop-up-noti,
.pop-up-form {
    position: relative;

    box-shadow: 0 4px 16px rgba(23, 27, 42, 0.24);
    border-radius: var(--border-radius-default);
    background-color: white;
    padding: 24px 24px 0 24px;
    max-height: 100vh;
}
.pop-up-form::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
.pop-up-form::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-300);
    border-radius: 8px;
}
.pop-up-form::-webkit-scrollbar-track {
    background-color: transparent;
}
.pop-up-form {
    overflow-y: scroll;
    margin: auto;
}
.pop-up-noti {
    width: 500px;
    height: min-content;
}
.pop-up-form {
    min-width: 1000px;
    animation: show-in 0.2s linear;
}
.pop-up-header {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-right: 100px;
}

.pop-body {
    padding-bottom: 32px;
}
.pop-form {
    width: 100%;
}
.pop-footer {
    border-top: 1px solid var(--color-grey-300);
}
.pop-head-btns {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
}

.pop-footer {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
}
@keyframes showDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.pop-up-noti {
    animation: showDown 0.2s linear;
    margin: 0 auto;
    top: 36px;
}
.noti-icon {
    padding-left: 48px;
    background-repeat: no-repeat;
    font: var(--font-head-3);
}
.btns-right,
.btns-left {
    display: flex;
}
.noti-timeout {
    height: 4px;
    background-color: var(--color-blue-400);
    border-radius: var(--border-radius-default);
    animation: shrink linear;
    animation-duration: 5s;
    width: 0;
}
@keyframes shrink {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
