.header {
    position: absolute;
    background-color: #fff;
    width: calc(100% - var(--width-sidebar));
    height: 44px;
    top: 0;
    left: var(--width-sidebar);
    z-index: 2;
    padding: 15px 19px 14px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.5s;
}

.header__title {
    font-weight: 700;
    font-size: 14px;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    align-items: center;
}

.header__menu--text{
    font-weight: 500;
    color: #001031;
}

.header__menu--input{
    
}
.header__menu--input p{
    position: absolute;
    transform: translate(7px, 7px);
    margin: 0;
}
.header__menu--input .year-input{
    background-color: rgba(26, 164, 200, .2);
    border-radius: 3px;
    width: 112px;
    height: 30px;
    overflow: hidden;
    border: none;
    text-align: right;
    padding-right: 24px;
    font-weight: 700;
}
.header__menu--icons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.header__menu--icons .icon--button:hover{
    background-color: var( --color-hover);
}
.header__menu--icons .icon--button:hover div{
    filter: brightness(0) invert(1);
}