.m-form-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.m-form-checkbox label {
  white-space: nowrap;
  margin-left: 8px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-background {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.checked span {
  border: solid 1px #38ab42;
  background-position: -1221px -357px;
  transform: rotate(0deg);
  transition: transform 0.15s linear;
}

.unchecked span {
  border: solid 1px;
  background: #fff;
  transform: rotate(360deg);
  transition: transform 0.15s linear;
}

input {
  opacity: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
}
