<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast notify</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body style="display: contents;">
    <div class="toast-block">
      <div class="toast toast-success">
        <div class="mi mi-24 mi-success"></div>
        <div class="toast-text">
          <span class="toast-title">Thành công!</span>
          <span class="toast-message">Công việc đã bị xóa.</span>
        </div>
        <!-- Nút hoàn tác không bắt buộc -->
        <a class="toast-button">Hoàn tác</a>
        <div class="toast-close mi mi-24 mi-close"></div>
      </div>
    </div>
    <br />
    <div class="toast-block">
      <div class="toast toast-error">
        <div class="mi mi-24 mi-error"></div>
        <div class="toast-text">
          <span class="toast-title">Lỗi!</span>
          <span class="toast-message">Không thể cập nhật được dữ liệu.</span>
        </div>
        <!-- Nút hoàn tác không bắt buộc -->
        <a class="toast-button">Hoàn tác</a>
        <div class="toast-close mi mi-24 mi-close"></div>
      </div>
    </div>
    <br />
    <div class="toast-block">
      <div class="toast toast-warning">
        <div class="mi mi-24 mi-warning"></div>
        <div class="toast-text">
          <span class="toast-title">Cảnh báo!</span>
          <span class="toast-message"
            >Dữ liệu đã bị thay đổi bởi người dùng khác.</span
          >
        </div>
        <!-- Nút hoàn tác không bắt buộc -->
        <a class="toast-button">Hoàn tác</a>
        <div class="toast-close mi mi-24 mi-close"></div>
      </div>
    </div>
    <br />
    <div class="toast-block">
      <div class="toast toast-info">
        <div class="mi mi-24 mi-info"></div>
        <div class="toast-text">
          <span class="toast-title">Thông tin!</span>
          <span class="toast-message"
            >Bạn nên được kĩ thông tin trước khi gửi phê duyệt.</span
          >
        </div>
        <!-- Nút hoàn tác không bắt buộc -->
        <a class="toast-button">Hoàn tác</a>
        <div class="toast-close mi mi-24 mi-close"></div>
      </div>
    </div>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
