<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tooltip</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body style="display: block;">
    <div class="m-tooltip">
        <div class="m-tooltip__content">abc</div>
    </div>

    <br>
    <hr>
    <!-- tooltip cho icon trong form -->
    <div class="m-tooltip">
        <div class="m-tooltip-arrow"></div>
        <div class="m-tooltip__content">abc</div>
    </div>
    <script type="module" src="../js/main.js"></script>
</body>
</html>