<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Popup</title>
        <link rel="stylesheet" href="../../css/main.css" />
    </head>

    <body>
        <div class="app">
            <div class="pop-up-container">
                <div class="pop-up-noti">
                    <div class="pop-body">
                        <div
                            class="noti-container noti-icon icon-warning-48 icon-32"
                        >
                            Mã nhân viên {NV-0001} đã tồn tại trong hệ thống,
                            vui lòng kiểm tra lại.
                        </div>
                    </div>
                    <div class="noti-timeout"></div>
                    <div class="pop-footer">
                        <div class="btns-left">
                            <button class="m-btn m-btn--sub text-bold"
                                >Hủy</button
                            >
                        </div>
                        <div class="btns-right">
                            <button class="m-btn m-btn--primary text-bold"
                                >Đồng ý</button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
