<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sidebar</title>
        <link rel="stylesheet" href="../../css/main.css" />
    </head>

    <body>
        <div class="app">
            <div class="sidebar sidebar-snap">
                <header class="nav-header">
                    <button
                        class="m-btn m-only-icon-btn m-only-icon-btn-lg icon-grid icon-24"
                    ></button>
                </header>

                <nav class="nav-control">
                    <ul class="nav-link-list">
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-general icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-cash icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-money-keeper icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-buy icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-cart icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-order icon-20"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-repository icon-20"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-tool icon-32"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-car icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-tax icon-16"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-price icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-overall icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-finance icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-report icon-24"
                            ></a>
                        </li>
                        <li class="nav-link-item">
                            <a
                                href="#"
                                class="m-btn m-only-icon-btn icon-figure-out icon-20"
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>
