label {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 8px;
}

input[type=text] {
	width: 260px;
	height: 36px;
	border: 1px solid var(--input-border-color);
	border-radius: 4px;
	padding: 0 12px;
	outline: unset;
}

input[type=checkbox] {
	/* position: absolute; */
	/* left: 0; */
	/* opacity: 0; */
	width: 20px;
	height: 20px;
	margin: 8px 0;
	/* outline: 1px solid var(--input-border-color); */
	/* border-radius: 4px; */
	accent-color: var(--primary-btn-background-color);
	cursor: pointer;
}

/* input[type=radio] {
	width: 18px;
	height: 18px;
	accent-color: var(--primary-btn-background-color);
	cursor: pointer;
} */

input[type='radio'] {
	width: 16px;
	height: 16px;
	cursor: pointer;
	appearance: none;
	outline: 1px solid var(--input-radio-border-color);
	border: 3px solid #fff;
	border-radius: 50%;
}

input[type='radio']:checked {
	background-color: var(--primary-btn-background-color);
	outline-color: var(--primary-btn-background-color);
}

input::placeholder {
	font-size: 14px;
	color: var(--input-placeholder-color);
}

input[type=text]:hover {
	background-color: var(--input-border-color);
}

input[type=text]:focus {
	border-color: var(--primary-btn-background-color);
}

input[type=text]:focus+.box-icon {
	border-color: var(--primary-btn-background-color);
}

.input-error {
	border-color: var(--input-border-color-error) !important;
}

.box-input {
	position: relative;
	border: none;
}

.input-error-mess {
	position: absolute;
	top: 100%;
	font-size: 12px;
	color: var(--input-border-color-error);
	margin-top: 4px;
}

.input-date-picker {
	width: 160px;
}

.box-icon.box-input-checkbox {
	width: 20px;
	height: 20px;
	/* border: 1px solid var(--input-placeholder-color); */
	/* border: 1px solid #767676; */
	border-radius: 2px;
	margin: 8px 0;
	/* background-color: #fff; */
}

.checkbox-checked {
	border: none;
	background-color: var(--primary-btn-background-color);
}

/* .div-icon-check {
	display: none;
	position: relative;
	top: -1px;
	width: 11px;
	height: 6px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
} */

/* .checked-all>.div-icon-check {
	display: block;
} */

.div-icon-minus {
	width: 12px;
	height: 3px;
	border-bottom: 3px solid #fff;
}

/* .checked-apart>.div-icon-minus {
	display: block;
} */

/* .box-input-radio {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
} */

/* .input-radio {
	width: 18px;
	height: 18px;
	border: 1px solid var(--input-radio-border-color);
	border-radius: 50%;
}

.input-radio-checked-true {
	border: 1px solid var(--primary-btn-background-color_active);
} */

/* .input-radio-checked {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--primary-btn-background-color_active);
} */