.select-box {
    padding: 8px 16px 9px 16px;
    height: 36px;
    width: calc(100%);
    background-color: #fff;
    border: 1px solid var(--border-color-grey);
    outline: none;
    border-radius: 4px;
}