/* main-content -- top */
.main-content-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content-title {
  font-size: 24px; /* tham khảo */
  font-weight: 700; /* tham khảo */
  color: #111;
}

/* main-content -- content-layout */
.contents-layout {
  margin-top: 24px; /* Đối xứng bên trên */
  display: flex;
  flex-direction: column;
  padding: 8px 8px 0 8px;
  height: calc(
    100% - 24px - 36px
  ); /* height_main-content-top=36px, margin-top=24px */
  background-color: #fff;
  border-radius: var(--border-radius-default);
}
