label {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 8px;
}

input[type='text'] {
	width: 100%;
	height: 36px;
	padding: 0px 12px;
	border: none;
	outline: unset;
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
	margin: 8px 0;
	cursor: pointer;
}

input[type='radio'] {
	opacity: 0;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
}

input::placeholder {
	font-family: notosans-italic;
	font-size: 14px;
	color: #999999;
}

input:hover {
	background-color: var(--border-input-color);
}

.box-input {
	height: 36px;
	border: 1px solid var(--border-input-color);
	border-radius: 4px;
	overflow: hidden;
}

.box-input:hover {
	background-color: var(--border-input-color);
}

.box-input-focus {
	border-color: var(--primary-btn-background-color);
}

.box-input-icon {
	display: flex;
}

.input-search {
	min-width: 300px;
}

.date-picker {
	width: 160px;
}

.box-input-radio {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}

.input-radio {
	width: 18px;
	height: 18px;
	border: 1px solid var(--border-input-color);
	border-radius: 50%;
}

.input-radio-checked-true {
	border: 1px solid var(--primary-btn-background-color-active);
}

.input-radio-checked {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--primary-btn-background-color-active);
}