button {
    border: none;
    border-radius: var(--border-radius);
    height: 36px;
    min-width: 80px;
    font-size: var(--font-size);
    font-family: Bold Fonts;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.btn-success {
    background-color: var(--color-primary);
    color: #ffff;
}
.btn-normal {
    background-color: #ffff;
    color: #000000;
    border: 1px solid #babec5;
}