.dialog {
    background-color: #ffffff;
    border: 1px solid #babec5;
    border-radius: var(--border-radius);
    padding: 24px;
    text-align: left;
    width: 420px;
}

.dialog__header{
    display: flex;
    justify-content: space-between;
}

.dialog__title {
    font-size: 20px;
    font-family: Bold Fonts;
    margin-bottom: 24px;
    margin-top: 4px;
}

.dialog__close {
    background:  url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -142px -146px;
    cursor: pointer;
}


.dialog__content {
    display: flex; 
    align-items: center; 
    gap: 12px;
}

.dialog__icon {
    background: url("../../assets/img/Sprites.64af8f61.svg");
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.dialog__name {
    font-family: Regular Fonts;
    font-size: var(--font-size);
    text-align: left;
}

.dialog__button {
    margin-top: 24px;
    float: right;
    display: flex;
    gap: 12px;
}

.dialog__icon--question {
    background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position:  -830px -456px;
}

.dialog__icon--warning {
    background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -598px -463px;
}

.dialog__icon--error {
    background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position:-24px -954px;
}