.toast {
    display: flex;
    align-items: center;
    width: 300px;
    height: 56px;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
    position: absolute;
    padding: 16px;
    top:60px;
    right:1px;
    justify-content: space-between;
}

.toast__title {
    display: flex;
    align-items: center;
    gap:8px;
}

.text--suscess {
    color: var(--color-primary);
}

.text--warning {
    color: #F49342;
}

.text--info {
    color: #2680EB;
}

.text--error {
    color: #DE3618;
}

.icon--success {
    background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -845px -307px;
    cursor: pointer;
}

.icon--warning {
	background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position:  -593px -145px;
}

.icon--info {
	background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -336px -231px;
	background-size: 1008px 953px;
}


.icon-error {
	background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -538px -146px;
}

.toast__close {
    background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -149px -149px;
    cursor: pointer;
    height: 14px;
    width: 14px;
}

