.container {
    height: calc(100vh - 56px);
    width: calc(100vw - 200px);
    background-color: var(--color-grey-200);
    padding: 24px 24px 8px;
}
.container-header {
    display: flex;
    justify-content: space-between;
}
.container-title {
    font: var(--font-head-1);
}
.container-content {
    width: 100%;
    margin-top: 16px;
    background-color: #ffffff;
}
.container-table-wrapper {
    height: calc(100vh - 220px);
    overflow-x: scroll;
    position: relative;
}
.container-table {
    height: 100%;
}
.container-table-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}
.container-table-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-600);
}
.container-table-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}
.container-search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding: 12px 16px;
}
.search-box {
    width: max(300px, 25%);
}
