@import url(./layout/sidebar.css);
@import url(./layout/header.css);
@import url(./layout/container/container.css);
@import url(./layout/container/asset-form.css);
@import url(./layout/modal.css);

@import url(./components/button.css);
@import url(./components/input.css);
@import url(./components/icon.css);
@import url(./components/table.css);
@import url(./components/msg.css);

/* Font chữ */
@font-face {
    /* Font thường */
    font-family: "GoogleSans";
    src: url(../assets//font/05a65153efe56028d343c10b53faa583.ttf) format("truetype");
}

* {
    font-family: 'Times New Roman';
    font-size: 13px;
    box-sizing: border-box;
    color: #212121;
}

body {
    margin: 0;
    padding: 0;
}

/* Các giá trị chung */
:root {
    --color-primary: #1aa4c8;
    --color-hover: #56b5cd;
    --color-focus: #075163;
    --border-radius: 2.5px;
    --color-border-default: #504a4a;
    --width-sidebar: 66px;
    --width-sidebar-extend: 210px;
    --width-sidebar-collapse: 66px;
    --height-default: 36px;
    --icon-url: url('../../assets/icon/qlts-icon.svg');
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Text font-size */
.font-13 {
    font-size: 13px;
}

/* Text color */
.color--default {
    color: #212121;
}

.color--white {
    color: white;
}

/* text-align */
.ta-left {
    text-align: left;
}

.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}

/* font-size */
.font--11 {
    font-size: 11px;
}
/*  */

/* Margin */
.ml-4 {
    margin-left: 4px;
}

.mr-4 {
    margin-right: 4px;
}
/*  */
.hidden{
    display: none;
}
/* Gird system */
.row{
    display: flex;
    flex-wrap: wrap;
}
.grid-row{
    margin:0 -8px;
}
.col-4{
    width: 33.333%;
   padding: 0 8px;
}
.col-8{
    width: 66.66%;
   padding: 0 8px;
}