.grid-list-data {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

/* topbar thực hiện hàng loạt */
.batch-exection {
  display: flex;
  justify-content: start;
  align-items: center;
}

.other-action {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* main-content -- grid-model-control */
.grid-model-control {
  min-width: 100%;
  height: 0;
  padding-top: 8px;
  flex: 1;
}

.ms-grid-viewer {
  min-width: 100%;
  height: 100%;
  max-height: none;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/* =========== table ========== */
th.col-date,
td.col-date {
  text-align: center !important; /* Style Guidline */
}

.ms-table-viewer {
  border-collapse: collapse;
  border: none !important;
  border-radius: var(--border-radius-default); /* zero */
  min-width: 100%;
}

.ms-table-viewer tr {
  height: 48px; /* zero */
  background-color: #ffffff; /* zero */
}

.ms-table-viewer th,
.ms-table-viewer td {
  border-bottom: 1px solid #e0e0e0; /* viền dưới nét liền */
  border-left: 1px dashed #e0e0e0; /* viền trái nét đứt */
  padding: 0 16px;
  height: 48px;
  text-align: left;
}

/* Thẻ td của hàng cuối cùng -> không có viền dưới */
.ms-table-viewer tr:last-child td {
  border-bottom: none;
}

/* Thẻ th, td đầu tiên của 1 hàng -> không có viền trái */
.ms-table-viewer td:first-child,
.ms-table-viewer th:first-child {
  border-left: none;
}

/* ----- theader ----- */
.ms-table-viewer thead {
  position: sticky;
  top: 0px;
  z-index: 6;
}

.ms-table-viewer thead th {
  font-weight: 700; /* zero */
  color: #1f1f1f; /* zero */
  background-color: #eeeeee; /* zero */
}

/* ----- tbody ----- */
.ms-table-viewer td {
  font-weight: 400; /* zero */
  color: #1f1f1f;
  background-color: #fff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* hiển thị ... khi không đủ chiều rộng */
}

.ms-table-viewer tr:hover td {
  background-color: #f2f2f2; /* zero */
}

.width-col-1 {
  min-width: calc(24px + 32px); /* zero */
}

.width-col-1 input[type="checkbox"] {
  width: 24px; /* zero */
  height: 24px; /* zero */
}
.width-col-1 input[type="checkbox"]:hover {
  cursor: pointer; /* zero */
}

.width-col-2 {
  min-width: 135px;
  padding: 0 16px; /* zero */
}

.width-col-3 {
  min-width: 150px;
  padding: 0 16px; /* zero */
}

.width-col-4 {
  min-width: 102px;
  padding: 0 16px; /* zero */
}

.width-col-5 {
  min-width: 110px;
  padding: 0 16px; /* zero */
}

.width-col-6 {
  min-width: 105px;
  padding: 0 16px; /* zero */
}

.width-col-7 {
  min-width: 130px;
  padding: 0 16px; /* zero */
}

.width-col-8 {
  min-width: 200px;
  padding: 0 16px; /* zero */
}

.width-col-9 {
  min-width: 150px;
  padding: 0 16px; /* zero */
}

.width-col-10 {
  min-width: 150px;
  padding: 0 16px; /* zero */
}

.width-col-11 {
  min-width: 150px;
  padding: 0 16px; /* zero */
}

.width-col-12 {
  min-width: 150px;
  padding: 0 16px; /* zero */
}

.funtion {
  display: flex;
  align-items: center;
  justify-content: end;
}

.funtion a {
  color: #0075c0;
  padding: 0 3px;
}

.row-checked td,
.row-selected td {
  background-color: #f1ffef;
}

/* Ghim cột chức năng */
.fixed-column {
  position: sticky;
  right: 0;
  z-index: 5;
}
