* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* -----------VAR DEFINE----------- */
:root {
  /* Background Color */
  --background-color-black: #1f1f1f;
  --background-color-black-bold: #161616;
  --background-color-black-hover: #424242;
  --background-color-white: #ffffff;
  --background-color-silver: #f7f7f7;
  --background-color-grey: #e4e9e7;
  --background-color-grey-hover: #f1f6f4;
  --background-color-grey-focus: #d3d7d6;
  --background-color-modal: rgba(199, 199, 199, 0.3);

  /* Border Color */
  --border-color-grey: #e0e0e0;
  --border-color-grey2: #ebebeb;
  --border-color-grey3: #e6e6e6;

  /* Element Color */
  --element-color-blue-primary: #007aff;
  --element-color-blue-hover-bold: #3395ff;
  --element-color-blue-hover-light: #e6f2ff;
  --element-color-blue-focus: #0062cc;

  /* Color By Status */
  --element-color-red: #e61d1d;

  /* Text Color */
  --text-color-black-title: #000000;
  --text-color-black-primary: #212121;
  --text-color-white-title: #ffffff;
  --text-color-white-primary: #dbdee3;

  /* Font size */
  --font-size-heading1: 20px;
  --font-size-heading2: 18px;
  --font-size-heading3: 16px;
  --font-size-subheader: 14px;
  --font-size-body: 14px;
  --font-size-caption: 13px;

  /* Layout size */
  --header-height: 56px;
  --sidebar-width-expand: 200px;
  --sidebar-width-mini: 56px;
}

/* -----------TEXT FIELD-----------*/
.heading1 {
  font-weight: 700;
  font-size: var(--font-size-heading1); /* 20px */
  line-height: 28px;
}

.heading2 {
  font-weight: 700;
  font-size: var(--font-size-heading2); /* 18px */
  line-height: 24px;
}

.heading3 {
  font-weight: 700;
  font-size: var(--font-size-heading3); /* 16px */
  line-height: 20px;
}

.subheader {
  font-weight: 700;
  font-size: var(--font-size-subheader); /* 14px */
  line-height: 18px;
}

.body1 {
  font-weight: 500;
  font-size: var(--font-size-body); /* 14px */
  line-height: 18px;
}

.body2 {
  font-weight: 400;
  font-size: var(--font-size-body); /* 14px */
  line-height: 18px;
}

/* -----------CSS COLOR----------- */
.text-red {
  color: var(--element-color-red);
}

/* -----------CSS GENERAL CONFIG----------- */
a {
  text-decoration: none;
}

/* ----------ARRANGE ELEMENT---------- */
.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.pt-8 {
  padding-top: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pt-24 {
  padding-top: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.col {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-2\/5 {
  width: 40%;
}

.col-3\/5 {
  width: 60%;
}

.col-3 {
  width: calc(100% / 3);
}

.col-2\/3 {
  width: calc(100% * 2 / 3);
}

.center {
  text-align: center;
}

.show {
  display: block;
}

.hidden {
  display: none;
}
