.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.icon {
  background-image: url('../assets/icon/icon.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}

.icon.icon-menu-option {
    transform-origin: center;
    transform: scale(2);
    background-position: -1155px -30px;
}

.icon.icon-bell-bold {
    width: 32px;
    height: 32px;
    background-position: -783px -26px;
}

.icon.icon-bell-light {
    width: 32px;
    height: 32px;
    background-position: -252px -27px;
}

.icon.icon-menu-bar {
    /* width: 32px; */
    /* height: 32px; */
    background-position: -845px -30px;
}

.icon.icon-reload {
    width: 26px;
    height: 26px;
    background-position: -1096px -87px;
}

.icon.icon-arrow-blue-solid-bottom {
    background-position: -894px -357px;
}

.icon.icon-arrow-blue-top {
    background-position: -126px -357px;
}

.icon.icon-arrow-blue-right {
    background-position: -270px -357px;
}

.icon.icon-arrow-blue-left {
    background-position: -223px -357px;
}

.icon.icon-arrow-blue-bottom {
    background-position: -175px -357px;
}


.icon.icon-search {
    background-position: -991px -360px;
}

.icon.icon-search-detail {
    background-position: -32px -1664px;
}

.icon.icon-help {
    width: 24px;
    height: 24px;
    background-position: -87px -143px;
}

.icon.icon-close {
    width: 24px;
    height: 24px;
    background-position: -143px -143px;
}

.icon.icon-xmark {
    background-position: -78px -310px;
}

.icon.icon-overview {
    background-position: -32px -1630px;
}

.icon.icon-cash {
    background-position: -75px -1630px;

}

.icon.icon-deposit {
    background-position: -119px -1630px;

}

.icon.icon-purchase {
    background-position: -164px -1630px;

}

.icon.icon-sell {
    width: 26px;
    background-position: -204px -1630px;

}

.icon.icon-bill {
    background-position: -251px -1630px;

}

.icon.icon-warehouse {
    background-position: -293px -1630px;

}

.icon.icon-tools {
    background-position: -338px -1630px;

}

.icon.icon-assets {
    background-position: -381px -1630px;

}

.icon.icon-salary {
    background-position: -293px -1661px;

}

.icon.icon-tax {
    background-position: -425px -1630px;
}

.icon.icon-price {
    width: 26px;
    background-position: -466px -1630px;
}


.icon.icon-synthetic {
    width: 26px;
    background-position: -510px -1630px;

}

.icon.icon-budget {
    background-position: -380px -1662px;

}

.icon.icon-report {
    background-position: -549px -1630px;
}

.icon.icon-analysis {
    background-position: -206px -1663px;
}

.icon.icon-duplicate {
    width: 26px;
    height: 26px;
    background-position: -1544px -86px;
}

.icon.icon-success {
    background-position: -847px -312px;
}

