<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />

    <title>QUẢN LÝ NHÂN VIÊN | AMIS Kế Toán</title>
  </head>
  <body>
    <div class="popup-container">
      <div class="popup-wrappper">
        <div class="popup-content">
          <div class="popup-left">
            <p class="success-icon"></p>
            <p>
              Thành công!
              <span> Công việc đã bị xóa. </span>
            </p>
          </div>
          <div class="popup-right">
            <div class="close-icon-mini"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
