.ms-pagination {
  z-index: 10;
  position: sticky;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  height: 48px;
  border-bottom-left-radius: 3px; /* zero */
  border-bottom-right-radius: 3px; /* zero */

  background-color: #fff;
}

/* pagination left */
.left-pagination {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 12px 0 12px 16px;
}

.left-pagination b {
  display: inline-block;
  margin: 0 8px;
}

/* pagination right */
.right-pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 12px 16px 12px 0;
}

.right-pagination .record-in-page {
  width: 200px;
  height: 48px;
  padding-bottom: 8px; 
  display: flex;
  align-items: center;
}

.right-pagination .record-in-page input {
  border: none;
}

.right-pagination .paging {
  display: flex;
  padding-left: 16px; /* zero */
}

.arrow-left, .arrow-right {
  cursor: pointer;
}

/* disable */
.disabled {
  pointer-events: none;
  cursor: default;
  color: #9E9E9E;
}

.right-pagination .paging .page-index {
  display: flex;
  padding: 0 16px; /* zero */
}

.right-pagination .paging .page-index {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.right-pagination .paging .page-index div {
    width: 24px;
    text-align: center;
}

.right-pagination .paging .page-index div.page-selected {
  border: solid 1px #E0E0E0;
  font-weight: 700;
}