.scroller {
  overflow: auto;
}

/* Tùy chỉnh thanh cuộn cho trình duyệt Chrome */
.scroller::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Tùy chỉnh track, đường ray */
.scroller::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Tùy chỉnh con lăn */
.scroller::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: var(--border-radius-default);
}

.scroller::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Tùy chỉnh thanh cuộn cho trình duyệt Firefox */
.scroller {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* ----- Scroll cho table ----- */
.table-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


