.pop-up-container {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    overflow-y: scroll;
    scrollbar-color: var(--color-grey-600) #fff;
}
.pop-up-form {
    position: relative;
    box-shadow: 0 4px 16px rgba(23, 27, 42, 0.24);
    border-radius: calc(3 / 2 * var(--border-radius-default));
    background-color: white;
    padding: 24px 24px 12px 24px;
    margin: auto;
}

.pop-up-form {
    min-width: 1000px;
    animation: show-in 0.15s ease-out;
}
.pop-up-header {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-right: 100px;
}

.pop-body {
    padding-bottom: 18px;
}
.pop-form {
    width: 100%;
}

.pop-head-btns {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
}

.pop-footer {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
}
.btns-right,
.btns-left {
    display: flex;
    gap: 16px;
}
