.m-form---content {
  position: relative;
  min-width: 80vw;
  max-width: 80vw;
  width: 80vw;
  border-radius: var(--border-radius-default);
  background-color: #fff;
}

/* ----- header ----- */
header.m-form--header {
  padding: 24px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-form--title,
.m-form-close {
  display: flex;
  align-items: center;
}

.m-form--title .title-popup {
  color: #212121; /* zero */
  font-weight: 700; /* bold zero */
  font-size: 24px; /* zero */
}

/**/
.m-form-close div:first-child {
  margin-right: 6px;
}

/* ----- main popup ----- */
main.m-form-content {
  padding: 24px;
  transition: all 0.23s ease 0.1s;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: min-content;
  width: 100%;
  background-color: #fff;
}


/* ----- footer popup ----- */
footer {
  background-color: #f5f5f5;
  padding: 12px 24px;
  border-bottom-left-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
}
