.main-content {
    width:calc(100% - 200px);
    height:calc(100vh - 56px);
    float:left;
    background-color: #EEEEEE;
    padding: 24px 24px 0 24px
}

.content__header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:24px;
}

.content__header-title {
    font-weight: bold;
    font-size: 24px;
}

.content__body {
    background-color: #fff;
    border-radius: var(--border-radius);
}

.toolbar {
    padding:16px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar__right ,.toolbar__left{
    display:flex;
    align-items: center;
    gap:16px;
}
