.datepickerCTM {
  font-size: 14px;
  font-family: Misa fonts !important;
  height: 28px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  font-size: 14px;
  font-family: Misa fonts;
  outline: 0;
  width: 150px;
  padding-left: 16px;
}
