.input {
  height: 30px;
  outline: none;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding-left: 16px;
  outline: 0;
}

.input__date {
  height: 30px;
  padding-right: 8px;
  width: calc(100% - 16px);
}

.input__checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-left: 10px;
  accent-color: var(--color--checkbox);
  color: #fff;
}

.input:focus {
  outline: none;
  border: 1px solid #019160;
  /* border-radius: 4px;    */
}

.label-input {
  margin-bottom: 4px;
  font-weight: 700;
}
.label-gender {
  padding-left: 14px;
}

.item__radio {
  margin-left: 16px;
}

input[type="radio"] {
  height: 18px;
  width: 18px;
  margin-right: 0.5rem;
}

input[type="text"]::placeholder {
  font-size: 12px;
  font-style: italic;
}

.input__radio {
  /* hiding browser el */
  appearance: none;
  /* Safari support */
  -webkit-appearance: none;
  border: 4px solid #fff;
  /* background-color:  #ccc; */
  border-radius: 50%;
  outline: 1px solid #ccc;
}

.input__radio:checked {
  background-color: #50b83c;
  /* outline: 1px solid  #50B83C; */
}
