.button {
  background-color: green;
  height: 36px;
  min-width: 80px;
  padding: 0 16px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid green;
  outline: none;
}

.button:hover {
  background-color: #50b83c;
  border: 1px solid #50b83c;

  cursor: pointer;
}
.button:focus {
  opacity: 56%;
}
.button-white {
  background-color: #fff;
  height: 36px;
  min-width: 80px;
  padding: 0 16px;
  color: black;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
.button-white:hover {
  cursor: pointer;
  border: 1px solid #50b83c;
  color: green;
  background-color: #fff;

}