.input{
    display:flex;
    flex-direction: column;
    gap:8px;
    padding-bottom:24px;
}

.input--search {
    width:260px;
    padding-bottom: 0;
}

.input__field-and-icon {
    position:relative;
}

.input__field {
    padding: 0 12px;
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius);
    height: var(--height-default);
    outline: none;
    width:100%;
    background-color:transparent;
}

.input__icon {
    position:absolute;
    width:20px;
    height:20px;
    color:#9E9E9E;
    right:8px;
    top:8px;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}

.input__icon--dropdown {
    top:10px;
    width:16px;
    height:16px;
}

.input__field::placeholder {
    color: #9E9E9E;
}

.input__field:hover {
    outline: 1px solid #BDBDBD;
}

.input__field:focus {
    border: 1px solid var(--color-focus);
}

.require-mark {
    color: red;
    padding-left:2px;
}

.input--error, .input--error:focus {
    border-color: red
}
.input__error-mess{
    display:none;
    color:red;
    position:absolute;
    bottom:4px;
    font-size:12px;
}