.header {
    width: 100%;
    height: var(--height-header);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 12px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
}
.header-left {
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 32px;
}
#hideSidebar-controller {
    margin-right: 16px;
}
.header-title .m-only-icon-btn {
    flex: 0 0 24px;
}
.header-title {
    width: 100%;
    display: flex;
    align-items: center;
}
.header-title h1 {
    font: var(--font-head-3);
    text-transform: uppercase;
    color: var(--text-color);
    line-height: 100%;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.header-lang {
    width: 120px;
}
.header-nav-btn {
    height: 100%;
    text-align: center;
    line-height: 56px;
    position: relative;
    min-width: 50px;
    z-index: 2;
}
.header-nav-btn:hover .m-only-icon-btn {
    background-image: url(../../../assets/icons/bell-white.svg);
    animation: ring 0.2s ease;
}
.header-nav-btn:hover {
    background-color: var(--color-grey-600);
}
.header-nav-btn:hover::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 10px solid var(--color-grey-600);
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0px;
}

.header-user-info {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    outline: none;
    border: none;
    white-space: nowrap;
}
.header-user-info:focus {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    cursor: pointer;
}
.user-avatar {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}
.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatar-32 {
    height: 32px;
    width: 32px;
}
.avatar-56 {
    --size: 56px;
    width: var(--size);
    height: var(--size);
}
.user-name {
    font-family: m-semibold;
    text-transform: capitalize;
}
.header__user_2-icon {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    padding-left: 36px;
    padding-right: 36px;
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: white;
    cursor: pointer;
    max-width: 250px;
}
.header__user_2-icon button {
    color: inherit;
    position: absolute;
    right: 0;
    top: 0;
    background-color: inherit;
}
/*  */
.header__user_2-icon:hover {
    background-color: currentColor;
}
