.dialog {
    transition: all .2s;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 990;
    position: fixed;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.4);
    visibility: visible;
}

.dialog-box {
    width: 400px;
    min-width: 400px;
    z-index: 100;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    background: #fff;
    border-radius: var(--border-radius);
    padding: 24px;
}


/* dialog header */
.dialog-header {
    justify-content: space-between;
    padding-bottom: 24px;
}

/* dialog content */
.dialog-content {
    padding-bottom: 24px;
    display: flex;
}

.dialog-content-detail {
    align-items: center;
    font-weight: 600;
    color: #1F1F1F;
    line-height: 18px;
    margin-left: 16px;
}


/* dialog footer */
.dialog-footer-1 {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}


/* dialog icon */
.icon--error {
    background: url(@/assets/img/Sprites.64af8f61.svg) no-repeat -752px -462px;
	width: 36px;
	height: 36px;
}

.icon--warning {
    background: url(@/assets/img/Sprites.64af8f61.svg) no-repeat -598px -463px;
	width: 36px;
	height: 37px;
}

.icon--question {
    background: url(@/assets/img/Sprites.64af8f61.svg) no-repeat -832px -462px;
	width: 36px;
	height: 36px;
}