.d-radio-input {
    box-sizing: border-box;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #afafaf;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.d-radio-input::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    margin: 3.2px auto;
}

.d-radio-input:checked::before {
    background-color: #2ca01c; 
}
.d-radio-input:checked{
    border: 1px solid #2ca01c;
}
