.d-table{
    width: 100%;
    border-collapse: collapse;
    border: unset;
}
.d-table tr{
    border-bottom: 1px solid #E0E0E0;
    height: 48px;

}

.d-table th:nth-child(n+1):not(:last-child),
.d-table td:nth-child(n+1):not(:last-child){
    border-right: 1px dotted #E0E0E0;
}

.d-table tr th{
    background-color: #F5F5F5;
}

.d-table tr:hover{
    background-color: #fff8cb;
    cursor: pointer;
}
.d-table tr td,
.d-table tr th
{
    padding: 0 10px;
}



.d-table .text-left{
    text-align: left;
}

.d-table .text-right{
    text-align: right;
}

.d-table .text-center{
    text-align: center;
}

.d-table input{
    width: 16px;
    height: 16px;
}
