.checked.checkbox-display {
    background-image: url(../../../assets/icons/check-green-no-bg.svg);
    animation: rotate-1-4 ease-out 0.1s;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-background-input-hover);
    color: var(--color-green-400);
}
.checkbox-display {
    border: 1px solid currentColor;
    border-radius: var(--border-radius-default);
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: #ffffff;
    cursor: pointer;
}
.m-checkbox.m-checkbox-label {
    display: inline-flex;
    gap: 4px;
    align-items: center;
}
