.flex {
    display: flex;
}

.center {
    display: flex;
    align-items: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.w-25 {
    width: 25%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.p-8 {
    padding: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.pt-8 {
    padding-top: 8px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-16 {
    padding-bottom: 16px;
}

.mr-24 {
    margin-right: 24px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-16 {
    margin-right: 16px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-0 {
    margin-right: 0px;
}

.ml-8 {
    margin-left: 8px;
}

.mt-24 {
    margin-top: 24px;
}

.combobox__input,
select {
    height: 36px !important;
    font-family: regular font !important;
}

.combobox__button {
    height: 36px !important;
}

.combobox__input:focus ~ .combobox__button {
    border-color: #50b83c !important;
}

.combobox__item--selected {
    background-color: #50b83c !important;
  }
