@import url('./icon.css');

@import url('./components/button.css');
@import url('./components/input.css');
@import url('./components/table.css');
@import url('./components/dropdown.css');
@import url('./components/popup.css');
@import url('./components/form.css');
@import url('./components/loading.css');
@import url('./layout/sidebar.css');
@import url('./layout/header.css');
@import url('./layout/container.css');
:root {
    --text-color: #1f1f1f;
    --font-size-input: 14px;
    --color-green-600: #067933;
    --color-green-500: #089740;
    --color-green-400: #50b83c;
    --color-green-200: #9cd5b3;
    --color-green-300: #6bc18d;
    --color-green-100: #ceead9;
    --color-green-50: #e7f5ec;
    --color-red-500: #e60000;
    --color-red-400: #eb3333;
    --color-grey-800: #424242;
    --color-grey-600: #757575;
    --color-grey-500: #9e9e9e;
    --color-grey-400: #bdbdbd;
    --color-grey-300: #e0e0e0;
    --color-grey-200: #eeeeee;
    --color-grey-100: #f5f5f5;
    --color-blue-600: #0062cc;
    --color-blue-500: #007aff;
    --color-blue-400: #3395ff;
    --height-default: 36px;
    --color-border: #ebebeb;
    --border-radius-default: 4px;
    --font-head-1: 24px m-bold;
    --font-head-2: 18px m-bold;
    --font-head-3: 16px m-bold;
    --font-text-sub: 10px m-regular;
}

/* Font */
@font-face {
    font-family: m-bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
    font-family: m-italic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}
@font-face {
    font-family: m-regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
    font-family: m-semibold;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

/* APP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 13px;
    font-family: m-regular;
    overflow: hidden;
}
a {
    text-decoration: none;
}
#app {
    display: flex;
}
.main {
    flex: 1;
}

/* Common CSS */
.w-full {
    width: 100%;
}
.m-row {
    margin-top: 16px;
}
.m-display-none {
    display: none;
}
.m-block {
    display: block;
}
.m-hide {
    opacity: 0;
}
.m-text-head-1 {
    font: var(--font-head-1);
}
.m-text-head-2 {
    font: var(--font-head-2);
}
.m-text-head-3 {
    font: var(--font-head-3);
}
.m-text-sub {
    font: var(--font-text-sub);
}
.cur-pointer {
    cursor: pointer !important;
}
.text-bold {
    font-family: m-bold;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.m-top {
    top: 0;
}

.m-right {
    right: 0;
}
.m-left {
    left: 0;
}
.pt-16 {
    padding-top: 16px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-4 {
    margin-top: 4px;
}
.mt-8 {
    margin-top: 8px;
}
.m-r-16 {
    margin-right: 16px;
}
.text-red {
    color: var(--color-red-500);
}
.color-text {
    color: var(--text-color);
}
.color-green-400 {
    color: var(--color-green-400);
}
.color-blue-500 {
    color: var(--color-blue-500);
}
.color-grey-400 {
    color: var(--color-grey-400);
}
.color-grey-200 {
    color: var(--color-grey-200);
}
.bg-white {
    background-color: #ffffff;
}

.max-w-300 {
    max-width: 300px;
}
.line-1 {
    height: 1px;
    background-color: var(--color-border);
    margin: 1px 0;
}
.inline-block {
    display: inline-block;
}
.overflow-hidden {
    overflow: hidden;
}

/* Animation */
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes show-in {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
@keyframes rotate-1-4 {
    0% {
        rotate: 0;
    }
    100% {
        rotate: 90deg;
    }
}
@keyframes ring {
    0% {
        rotate: 0;
    }
    20% {
        rotate: -20deg;
    }
    60% {
        rotate: 20deg;
    }
    100% {
        rotate: -20deg;
    }
}
