.d-form-popup{
    width: 100%;
    background: rgba(0,0,0,.4);
    left: 0;
    top: 0;
    height: 100%;
    z-index: 98;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-detail-form{
    display: inline-block;
    border: 1px solid #b1b0b0;
    border-radius: 4px;
    background-color: #fff;
    width: 900px;
    
}
.d-detail-form{
    z-index: 100;
}

.header-form{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    margin-top: 12px;
}



.header-form .right-header{
    position: relative;
    top: -12px;
}

.header-form .d-checkbox{
    margin-left: 24px;
}

.footer-form{
    width: 100%;
    height: 72px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body-form{
    width: 100%;
    padding: 12px 24px 0px 24px;
}

.body-form .left-part{
    margin-right: 24px;
    
}


.body-form .top-body-form{
    display: flex;
    align-items: center;

}
.top-body-form .left-part{
    width:50%;
}
.top-body-form .right-part{
    width:50%;
}

.body-form .bottom-body-form{
    padding: 12px 0px 18px 0px;
    border-bottom: 1px solid #c4c4c4;
}


.body-form .row1, .row2, .row3{
    display: flex;
    
}
.body-form .radio-group{
    height: 36px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-wrapper{
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.left-part .row2 .d-wrapper{
    width: calc(100% - 6px) ;
}

.top-body-form .row3 .d-wrapper,
.bottom-body-form .row1 .d-wrapper
{
    width: calc(100% - 0px) ;
}

.footer-form .btn-primary{
    margin-left: 8px;
}

.radio-group input{
    margin-right:6px ;
}


.radio-group span{
    margin-right:12px ;
}

.body-form .asterisk{
    color: #E60000;
}

.top-body-form .row2 .d-wrapper{
    position: relative;;
}

.top-body-form .row2 .d-wrapper select{
    appearance: none;
}

.top-body-form .icon-arrow-select{
    position: absolute;
    right: 0;
    bottom: 25%;
}

.custom-combobox {
    font-weight: 500;
    height: 36px !important;
    margin: 8px 0;
    
}

.custom-combobox input,
.custom-combobox button{
    height: 36px !important;
    border-color: #dedede !important;
}

