.d-search{
    height: var(--height-default);
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--border-color-default);
    border-width: 1px;
    padding-left: 12px;
    outline:none;
    width: 250px;  
    margin-right: 12px;
}
.d-search::placeholder{
    font-family: MISA Italic;
}

.d-search:focus{
    border-color: #089740;
}

