/* -----------INPUT CONTAINER-----------*/
.input-container {
    width: 100%;
  }
  
  .label-box {
    margin-bottom: 8px;
  }
  
  .input-box {
  
  }
  
  /* -----------LABEL FIELD-----------*/
  .label-field-s {
    height: 11px;
  }
  
  .label-field-s.unrequire {
    
  }
  
  /* -----------INPUT FIELD-----------*/
  .input-field-s {
    padding: 7px 0 7px 7px;
    width: 175px;
    height: 24px;
    font-size: 10px;
    line-height: 10px;
    font-style: italic;
    background-color: #fff;
    border: 1px solid var(--border-color-grey);
    outline: none;
    border-radius: 4px;
  }
  
  .input-field-s:hover,
  .input-field-m:hover {
    background-color: var(--background-color-grey-hover);
  }
  
  .input-field-s:focus,
  .input-field-m:focus {
    border-color: var(--element-color-blue-focus);
  }
  
  .input-field-s.error,
  .input-field-m.error {
    border-color: var(--element-color-error);
  }
  
  .input-field-s.input-readonly,
  .input-field-m.input-readonly {
    background-color: var(--background-color-silver);
  }
  
  .input-field-s.input-icon {
    padding-right: calc(7px + 14px );
  }
  
  .input-field-m {
    padding: 8px 16px 9px 16px;
    height: 36px;
    width: calc(100%);
    background-color: #fff;
    border: 1px solid var(--border-color-grey);
    outline: none;
    border-radius: 4px;
  }
  