/* ===== toast ===== */
.toast-block {
  position: relative;
  height: 44px;
  margin-bottom: 8px;

  min-width: 450px; /* zero */
  max-width: 650px; /* zero */
  padding: 10px 16px; /* zero */
  border-radius: var(--border-radius-default); /* zero */
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.078); /* zero */
}
.toast {
  /* visibility: visible; */
  height: 24px; /* zero */
  display: flex;
  align-items: center;
}
.toast-text {
  flex: 1;
  font-weight: 400;
  color: #1f1f1f;
  padding: 0 8px; /* zero */
}
.toast a {
  font-weight: 500; /* zero */
  text-decoration: underline; /* zero */
  color: #1f1f1f; /* zero */
  cursor: pointer;
  margin-right: 16px;
}
.toast-title {
  padding-right: 8px;
}


/* ===== toast success ===== */
.toast-success .toast-text .toast-title {
  color: #50b83c;
}

/* ===== toast error ===== */
.toast-error .toast-text .toast-title {
  color: #ff0000;
}

/* ===== toast warning ===== */
.toast-warning .toast-text .toast-title {
  color: #b3720a;
}

/* ===== toast info ===== */
.toast-info .toast-text .toast-title {
  color: #0a71cb;
}
