.m-rdo label {
  /* font-family: Roboto; */
  height: var(--rounded-button-height); /* zero  36px*/
  color: #1f1f1f;
}

.m-rdo .m-rdo-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.m-rdo-content .item {
  display: flex;
  /* width: max-content; */
  height: var(--rounded-button-height); /* zero  36px*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item a {
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px #afafaf;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.item a span {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2ca01c;
}

.item label {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

/*== option được chọn ==*/
.m-rdo-selected a {
  border-color: #2ca01c !important;
}
.m-rdo-selected a span {
  display: block !important;
}
