<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/asset/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="header">
        <div class="left-header">
            <div class="icon icon-three-stripes"></div>
            <h5 style="margin-right: 8px;">
                CÔNG TY TNHH SẢN XUẤT - THƯƠNG MẠI - DỊCH VỤ QUI PHÚC
            </h5>
            <div class="icon icon-v-down"></div>
        </div>
        <div class="right-header">
            <div class="icon icon-bell"></div>
            <div class="icon icon-avatar"></div>
            <div class="avatar-name">Mai Vũ Duy</div>
            <div class="icon icon-v-down"></div>
        </div>

    </div>

    <div class="sidebar">
        <div class="logo-container">
            <a href="#" class="icon icon-grid"></a>
            <img class="logo" src="/asset/img/Logo_Module_TiengViet_White.66947422.svg" alt="">
        </div>
        <ul>

            <li>
                <div class="icon icon-dashboard"></div>
                <a href="#">Tổng quan</a>
            </li>
            <li>
                <div class="icon icon-cash"></div>
                <a href="#">Tiền mặt</a>
            </li>
            <li>
                <div class="icon icon-bank"></div>
                <a href="#">Tiền gửi</a>
            </li>
            <li>
                <div class="icon icon-bag"></div>
                <a href="#">Mua hàng</a>
            </li>
            <li>
                <div class="icon icon-sale"></div>
                <a href="#">Bán hàng</a>
            </li>
            <li>
                <div class="icon icon-invoice"></div>
                <a href="#">Quản lý hóa đơn</a>
            </li>
            <li>
                <div class="icon icon-stock"></div>
                <a href="#">Kho</a>
            </li>
            <li>
                <div class="icon icon-tool"></div>
                <a href="#">Công cụ dụng cụ</a>
            </li>
            <li>
                <div class="icon icon-asset"></div>
                <a href="#">Tài sản cố định</a>
            </li>
            <li>
                <div class="icon icon-tax"></div>
                <a href="#">Thuế</a>
            </li>
            <li>
                <div class="icon icon-price"></div>
                <a href="#">Giá thành</a>
            </li>
            <li>
                <div class="icon icon-general"></div>
                <a href="#">Tổng hợp</a>
            </li>
            <li>
                <div class="icon icon-budget"></div>
                <a href="#">Ngân sách</a>
            </li>
            <li>
                <div class="icon icon-report"></div>
                <a href="#">Báo cáo</a>
            </li>
            <li>
                <div class="icon icon-finance"></div>
                <a href="#">Phân tích tài chính</a>
            </li>

        </ul>
    </div>

    <div class="content">
        <div class="header-content">
            <span class="header-title">Nhân viên</span>
            <button id="btnAdd" class="btn-primary">Thêm mới nhân viên</button>
        </div>
        <div class="main-content">
            <div class="toolbar">
                <input class="d-search icon-search" type="text" name="" id="" placeholder="Tìm theo mã, tên nhân viên">
                <div class="icon icon-refresh"></div>
            </div>
            <div class="table-content">
                <table class="d-table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" class="text-center" style="width: 20px;"></th>
                            <th class="text-left" style="width: 140px;">MÃ NHÂN VIÊN</th>
                            <th class="text-left">TÊN NHÂN VIÊN</th>
                            <th class="text-left" style="width: 100px;">GIỚI TÍNH</th>
                            <th class="text-center">NĂM SINH</th>
                            <th class="text-left">SỐ CMND</th>
                            <th class="text-left">CHỨC DANH</th>
                            <th class="text-left">TÊN ĐƠN VỊ</th>
                            <th class="text-left">SỐ TÀI KHOẢN</th>
                            <th class="text-left">TÊN NGÂN HÀNG</th>
                            <th class="text-left">CHI NHÁNH TK NGÂN HÀNG</th>
                            <th class="text-center" style="width: 120px;">CHỨC NĂNG</th>
                        </tr>


                    </thead>
                    <tbody id="tdStaff">

                    </tbody>
                </table>
            </div>
            <div class="d-paging">
                <div class="paging-left">
                    Tổng số:
                    <span style="font-family: MISA bold;">1035</span>
                    bản ghi
                </div>
                <div class="paging-right">
                    <div class="paging-select">
                        <select class="d-select">
                            <option value="10">10 bản ghi trên 1 trang</option>
                            <option value="20">20 bản ghi trên 1 trang</option>
                            <option value="30">30 bản ghi trên 1 trang</option>
                            <option value="50">50 bản ghi trên 1 trang</option>
                            <option value="100">100 bản ghi trên 1 trang</option>
                        </select>
                    </div>
                    <div class="paging-number">
                        <button class="btn-paging-prev">Trước</button>
                        <div class="page-number-group">
                            <button class="page-number" id="first">1</button>
                            <button class="page-number">2</button>
                            <button class="page-number">3</button>
                            <span style="margin-left: 5px;">...</span>
                            <button class="page-number">52</button>
                        </div>
                        <button class="btn-paging-next">Sau</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="d-form-popup">
        <div class="d-detail-form">
            <div class="header-form">
                <div class="left-header">
                    <span style="font-size: 24px; font-weight: 700;">Thông tin nhân viên</span>
                    <div class="d-checkbox">
                        <input type="checkbox" value="">
                        <span>Là khách hàng</span>
                    </div>
                    <div class="d-checkbox">
                        <input type="checkbox" value="">
                        <span>Là nhà cung cấp</span>
                    </div>
                </div>
                <div class="right-header">
                    <div class="icon help-icon"></div>
                    <div class="icon close-icon"></div>
                </div>

            </div>
            <div class="body-form">
                <div class="top-body-form">
                    <div class="left-part">
                        <div class="row1">
                            <label class="d-label ">
                                <div>Mã <span class="asterisk">*</span></div>
                                <input id="" class="d-input" type="text" name="input">
                            </label>
                            <label class="d-label ">
                                <div>Tên <span class="asterisk">*</span></div>
                                <input class="d-input" type="text" name="input">
                            </label>
                        </div>
                        <div class="row2">
                            <label class="d-label ">
                                <div>Đơn vị <span class="asterisk">*</span></div>
                                <div class="icon icon-arrow-select"></div>
                                <select class="d-select ">
                                    <option value=""></option>
                                    <option value="10">Phòng nhân sự</option>
                                    <option value="10">Phòng nhân sự</option>
                                    <option value="10">Phòng nhân sự</option>
                                </select>
                            </label>
                        </div>
                        <div class="row3">
                            <label class="d-label "> Chức danh
                                <input class="d-input" type="text" name="input"=" ">
                            </label>
                        </div>
                    </div>
                    <div class="right-part">
                        <div class="row1">
                            <label class="d-label ">Ngày sinh
                                <input class="d-date-picker" type="date">
                            </label>
                            <label class="d-label ">Giới tính
                                <div class="radio-group">
                                    <input class="d-radio-input" type="radio" name="gender"> <span>Nam</span>
                                    <input class="d-radio-input" type="radio" name="gender"> <span>Nữ </span>
                                    <input class="d-radio-input" type="radio" name="gender"> <span>Khác</span>
                                </div>

                            </label>
                        </div>
                        <div class="row2">
                            <label class="d-label "> Số CMND
                                <input class="d-input" type="text" name="input">
                            </label>
                            <label class="d-label ">Ngày cấp
                                <input class="d-date-picker" type="date">
                            </label>
                        </div>
                        <div class="row3">
                            <label class="d-label "> Nơi cấp
                                <input class="d-input" type="text" name="input">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="bottom-body-form">
                    <div class="row1">
                        <label class="d-label "> Địa chỉ
                            <input class="d-input" type="text" name="input">
                        </label>
                    </div>
                    <div class="row2">
                        <label class="d-label "> ĐT di động
                            <input class="d-input" type="text" name="input">
                        </label>
                        <label class="d-label "> Đt cố định
                            <input class="d-input" type="text" name="input">
                        </label>
                        <label class="d-label "> Email
                            <input class="d-input" type="text" name="input">
                        </label>
                    </div>
                    <div class="row3">
                        <label class="d-label "> Tài khoản ngân hàng
                            <input class="d-input" type="text" name="input">
                        </label>
                        <label class="d-label "> Tên ngân hàng
                            <input class="d-input" type="text" name="input">
                        </label>
                        <label class="d-label "> Chi nhánh
                            <input class="d-input" type="text" name="input">
                        </label>
                    </div>
                </div>
            </div>


            <div class="footer-form">

                <button class="btn-normal">Hủy</button>
                <div class="right-footer">
                    <button class="btn-normal">Cất</button>
                    <button class="btn-primary">Cất và thêm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-delete-notify-popup">
        <div class="popup-background"></div>
        <div class="delete-notify-dialog">
            <div class="header-dialog">
                <div class="title">Xóa người dùng</div>
                <div class="icon close-icon"></div>
            </div>
            <div class="content-dialog">
                <div class="icon icon-question"></div>
                <div>Bạn có chắc muốn xóa người dùng đã chọn</div>
            </div>
            <div class="footer-dialog">
                <button class="btn-normal">Không</button>
                <button class="btn-primary">Có, xóa người dùng</button>
            </div>
        </div>
    </div>
    </div>

    <script src="/js/page/staff.js"></script>
    <script src="/js/helpers/common.js"></script>
</body>

</html>