.header {
    justify-content: space-between;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-width: 1px;
    border-color: var(--border-color);
}

/* Main header */

.header-grid {
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 16px;
}

.header-grid__icon {
    background: url('@/assets/img/Sprites.64af8f61.svg') no-repeat -1157px -32px;
    width: 16px;
    height: 16px;
}

.header-logo {
    margin-right: 40px;
}

.header-logo__img {
    display: block;
    width: 96px;
}

/* Header list UL LI */
.header-nav {
    height: 100%;
    display: flex;
}
.header-nav-list {
    height: 100%;
}

.header-nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 12px;
}

.header-nav-item select {
    height: 36px;
    padding: 0px 12px 0px 6px;
    border: 1px solid #565656;
    border-radius: var(--border-radius);
}

.header-item__cloud {
    background-image: url('@/assets/img/Cloud.svg');
    width: 24px;
    height: 24px;
}

.header-item__ring {
    background-image: url('@/assets/img/Ring.svg');
    width: 24px;
    height: 24px;
}

.header-item__help {
    background-image: url('@/assets/img/Help.svg');
    width: 24px;
    height: 24px;
}

/* Profile */
.header-profile {
    display: flex;
    align-items: center;
}

.header-profile-icon {
	background: url(@/assets/img/user.png) no-repeat;
	width: 32px;
	height: 32px;
    border-radius: 50%;
    background-size: 32px;
    margin-right: 12px;
    cursor: pointer;
}
