.sidebar {
    flex-shrink: 0;
    background-color: var(--color-900);
    width: 200px;
    padding: 12px;
}

.sidebar-item {
    position: relative;
    margin-bottom: 6px;
}

.sidebar-item__link {
    position: relative;
    flex: 1;
    padding: 12px 12px 12px 8px;
    border-radius: var(--border-radius);
    color: var(--text-color-white);
}

.sidebar-item__link:hover {
    background-color: #033C1A;
}

.sidebar-item__title { 
    color: var(--text-color-white);
}

.router-link-active {
    background-color: #1e673b;
}

.router-link-active:hover {
    background-color: #1e673b;
}

