

.modal-content {
    width: 900px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    padding: 32px;
}

.modal .text-input {
    height: 32px;
    margin-bottom: 12px;
}

.input-wrapper {
    height: 32px;
    display: flex;
    align-items: center;
}

.modal-footer {
    display: flex;
    padding-top: 16px;
    border-top: 1px solid var(--outline);
}

.modal-footer button:nth-child(1) {
    margin-right: auto;
}

.modal-content.no-footer-border .modal-footer{
    border: none;
}

.modal.inside {
    position: absolute;
}