
table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

tr:hover {
    background-color: #E7F5EC;
}

tr {
    height: 36px;
}

th {
    background-color: #bcd4b9;
    text-transform: uppercase;
    font-family: Bold Fonts;
}

th, td {
    border-left: 1px solid #E0E0E0;
    border-bottom:1px solid #E0E0E0 ;
    max-height: 36px;
    font-size: var(--font-size);
    line-height: 18px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
}

td {
    font-family: Regular Fonts;
    font-size: var(--font-size);
}

th:nth-child(1),
th:nth-child(5),
th:nth-child(12),
td:nth-child(1),
td:nth-child(5),
td:nth-child(12) {
  text-align: center;
}
