.m-context-menu {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 10;
  padding: 16px 0; /* zero */
  display: flex;
  flex-direction: column;
}

.m-context-menu a {
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 26px;
  color: #000;
}

.m-context-menu a:hover {
  background-color: #ff0000;
  opacity: 0.05;
}
