.m-textfield input {
  display: block;
  width: 100%;
  height: var(--rounded-button-height); /* zero */
  border-radius: var(--border-radius-default); /* zero */
  background-color: #fff; /* zero */
  border: solid 1px #ebebeb; /* zero */
  padding: 0 12px; /* zero */
}

.m-textfield input::placeholder {
  color: #9e9e9e; /* zero */
  font-weight: 400; /* zero */
  letter-spacing: 0; /* Trong zeroheight ghi 14px */
  line-height: 14px; /* zero */
}

.m-textfield input:hover {
  background-color: #f6f6f6; /* zero */
  cursor: pointer;
}

.m-textfield input:focus {
  background-color: #fff; /* zero */
  border-color: #50b83c; /* zero */
  outline: none; /* zero */
}

.m-textfield input:disabled {
  background-color: #f6f6f6; /* zero */
  border-color: #ebebeb; /* zero */
  cursor: not-allowed;
}

.m-textfield input:disabled:hover {
  background-color: #f6f6f6; /* zero */
}

.m-textfield a {
  display: none;
}

/* ------------------- input có icon tĩnh ------------------- */
.m-textfield-icon input {
  padding-right: 28px;
  background-image: url(../../../assets/icons/magnifying-glass-solid.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 8px center;
}
.m-textfield-icon a {
  display: none;
}
/* ------------------- input có icon action ------------------- */

.m-textfield-icon-action {
  display: flex;
}

.m-textfield-icon-action input {
  padding-right: 30px; /* zero: 20px (icon) + 8px (pading-right-input) = 28px */
}

.m-textfield-icon-action a {
  position: relative; /* zero */
  right: 28px; /* zero: 20px (icon) + 8px (pading-right-input) = 28px */
  width: 20px; /* Kích thước icon */
  height: var(--rounded-button-height); /* zero */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== warning ===== */
.warning {
  color: red;
}