/*
    Cú pháp HTML:
    <button class="m-btn">Nút bấm</button>
*/

.m-btn {
    min-width: 80px;
    height: var(--rounded-button-height);
    border-radius: var(--border-radius-default);
    background-color: var(--primary-btn-background-color);
    border: none;
    color: #FFFFFF;
    padding: 0 16px;
    font-weight: var(--font-weight-default);
}

.m-btn:hover {
    background-color: var(--primary-btn--hover-background-color);
    cursor: pointer;
}

.m-btn:active {
    background-color: var(--primary-btn--active-background-color);
}
.m-btn:focus {
    background-color: var(--primary-btn--focus-background-color);
}

.btn:disabled {
    opacity: 56%;
}


/******* button cho icon *******/
.m-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--rounded-button-height);
    cursor: pointer;
}

/* ***** button phụ ***** */
.m-btn-secondary {
    background-color: #fff;
    color: #000;
    border: 1px solid #E6E6E6;
}

.m-btn-secondary:hover {
    background-color: #E6E6E6;
}

.m-btn-secondary:focus, .m-btn-secondary:active {
    background-color: #BDBDBD;
}