.loading-block {

}

.loading {
    visibility: hidden;
    position: relative;
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    min-height: 40px;
    height: 40px;
    max-height: 40px;
    animation: rotate 1.5s linear infinite;
}

.loading-control {
    visibility: hidden;
    position: relative;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-block .background {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.loading-block .corner {
    position: absolute;
    top: 0;
    border-top-style: solid;
    border-left-style: solid;
    border-top-left-radius: 100%;
    border-color: #FFF;
    width: 50%;
    height: 50%;
}

/* Kích thước loading thường */
.loading .background {
    border: solid 3px #33b437;
}

.loading .corner {
    border-top-width: 3px; 
    border-left-width: 3px;
}

/* Kích thước loading control */

.loading-control .background {
    border: solid 1px #33b437;
}

.loading-control .corner {
    border-top-width: 1px; 
    border-left-width: 1px;
}