/* ===== toast ===== */
.toast-block {
    position: relative;
    height: 44px;

    min-width: 450px; /* zero */
    max-width: 650px; /* zero */
    padding: 10px 16px; /* zero */
    border-radius: var(--border-radius-default); /* zero */
    box-shadow: 0 4px 40px rgba(0,0,0,0.078); /* zero */
    
}
.toast {
    visibility: visible;
    height: 24px; /* zero */
    display: flex;
    align-items: center;
}
.toast-text {
    flex: 1;
    font-weight: 400;
    color: #1F1F1F;
    padding: 0 8px; /* zero */
}
.toast a {
    font-weight: 500; /* zero */
    text-decoration: underline; /* zero */   
    color: #1F1F1F; /* zero */
    cursor: pointer;
    margin-right: 16px;
}

/* ===== toast success ===== */
.toast-success .toast-text .toast-title {
    color: #50B83C;
}

/* ===== toast error ===== */
.toast-success .toast-text .toast-title {
    color: #50B83C;
}

/* ===== toast warning ===== */
.toast-success .toast-text .toast-title {
    color: #50B83C;
}

/* ===== toast info ===== */
.toast-success .toast-text .toast-title {
    color: #50B83C;
}