
.m-tooltip {
    position: relative;
    min-width: fit-content;
}

.m-tooltip .m-tooltip-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 50%;
    transform: rotate(-45deg);
    background-color: rgb(70, 68, 68);
}

.m-tooltip .m-tooltip__content {
    background-color: rgb(70, 68, 68);
    color: #FFF;
    border-radius: var(--border-radius-default);
    box-shadow: 0 4px 16px rgba(23, 27, 42, 0.24);
    text-align: center;
}