label {
    display: flex;
    gap: 5px;
    font-weight: 500;
    margin-top: 13px;
}

label + input, label + select {
    margin-top: 6px;
}

.required::after{
    content: "*";
    font-size: 7px;
    color: red;
}

input[disabled]{
    background-color: #eee;
}

/* Hide Arrows From Input Number */
.hidden-arrow::-webkit-outer-spin-button,
.hidden-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* === Default Input === */
.input--default {
    width: 100%;
    height: var(--height-default);
    border: 1px solid var(--color-border-default);
    border-radius: var(--border-radius);
    padding: 0 12px;
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
}

.input--default:hover:not([disabled]) {
    background-color: #E6E6E6;
}

.input--default:focus {
    border: 1px solid var(--color-focus);
    outline: none;
}

.input--default[type=text]::placeholder {
    color: #999999;
    font-style: italic;
}
/* === Default Input === */

/* === Search Input & Filter Combo-box === */
.input--search-container{
    width: 179px;
    position: relative;
}

.input--filter-container{
    width: 219px;
    position: relative;
}

.input--search, .input--filter {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid #afafaf;
    overflow: hidden;
    padding: 0 10px 0 38px;
}

.input--search {
    height: 35px;
}

.input--filter {
    height: 35px;
}

.input--search:hover, .input--filter:hover {
    background-color: #E6E6E6;
}

.input--search:focus, .input--filter:focus {
    border: 1px solid var(--color-focus);
    outline: none;
}

.input--search::placeholder  {
    color: #999999;
    font-style: italic;
}

.input--filter::placeholder {
    color: #000;
}

.input--search-container .icon--input, .input--filter-container .icon--input{
    position: absolute;
    /* background-color: red; */
    top: 5px;
    left: 7px;
}

.input--filter::after {
    background-image: var(--icon-url);
    background-repeat: no-repeat;
    background-position:-72px -338px;
	width: 8px;
	height: 5px;
}
/* End Search Input & Filter Combo-box  */

/* === Dropdown Input === */
.input--dropdown {
    display: grid;
    width: 300px;
    height: 36px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 0 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.input--dropdown:hover {
    background-color: #E6E6E6;
}

.input--dropdown:focus {
    border: 1px solid var(--color-focus);
    outline: none;
}
/* End Dropdown Input */

/*  === Year Input === */

/* End Year Input */

/*  */
select{
    width: 100%;
    color: #555;
    font-style: italic;
}
/*  */
/* Date input */
.date-input-container {
    position: relative;
}

.date-input::-webkit-calendar-picker-indicator {
    display: none;
}
/* End date input */
/* Number input */
.number-input{
    text-align: right;
}