/* Thêm các components css vào main */
@import url(./layout/header.css);
@import url(./layout/nav.css);
@import url(./layout/main-content.css);

@import url(./components/extensions.css);
@import url(./components/icon.css);
@import url(./components/scroller.css);
@import url(./components/button.css);
@import url(./components/input/text-field.css);
@import url(./components/table.css);
@import url(./components/pagination.css);
@import url(./components/popup.css);
@import url(./components/input/checkbox.css);
@import url(./components/combobox.css);
@import url(./components/input/radio-button.css);
@import url(./components/dialog.css);
@import url(./components/toast.css);
@import url(./components/loading.css);
@import url(./components/tooltip.css);

/* Định nghĩa css chung */
/* Font chữ dùng chung cho toàn app */
@font-face {
  font-family: MISA Fonts;
  src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
  font-family: MISA Bold;
  src: url(../assets/fonts/notosans-bold.2cb88a13.woff2);
}

/* Màu sắc sử dụng trong trang */
:root {
  --control-label-bottom-space: 4px;
  --primary-button-height: 34px;
  --rounded-button-height: 36px;
  --get-data-button-height: 34px;
  --input-height: 32px;
  --combobox-multi-item-height: 24px;
  --combobox-dropdown-icon-width: 32px;
  --combobox-quick-add-width: 30px;
  --tab__router-height: 50px;
  --tab__router-pading: 15px 20px;
  --tab__detail-padding-y: 16px;
  --grid-header-text-transform: uppercase;
  --grid-header-height: 34px;
  --grid-body-line-height: 44px;
  --grid-summary-height: 34px;
  --grid-footer-padding-y: 18px;
  --title-list-padding-top: 24px;
  --title-list-padding-bottom: 24px;
  --row-spacing: 12px;
  --row-spacing--large: 16px;
  --zone-padding: 20px;
  --reference-padding-top: 12px;
  --reference-padding-bottom: 16px;
  --horizontal-control-padding-y: 16px;
  --tab-router-margin-top: 14px;
  --overview-number-size: 24px;
  --overview-label-size: 14px;
  --overview-height: 64px;
  --footer-height: 50px;
  --suggest-short-key-position-top: -14px;

  --main-background-color: #e4e9e7;
  --control-border-color--active: #2ca01c;
  --primary-btn-background-color: #2ca01c;
  --primary-btn-background-color-opacity: rgba(44, 160, 28, 0.2);
  --primary-btn--hover-background-color: #35bf22;
  --primary-btn--active-background-color: #248b15;
  --primary-btn--focus-background-color: #2ca01c;
  --button__footer-border-color: #6b6c72;
  --button__footer-background-color--hover: #2f3034;
  --button__footer-border-color--hover: #6b6c72;
  --button__footer-background--active: #27282b;
  --button__footer-border-color--active: #6b6c72;
  --button__footer-background-color--focus: #27282b;
  --dropdown__item--hover-text-color: #2ca01c;
  --dropdown__footer-background-color--hover: #4b4c51;
  --dropdown__footer-background-color--active: #4b4c51;
  --upload-border-color: #96a593;
  --tab__item--active-text-color: #2ca01c;
  --tab__border-color: #649a5d;
  --tab__router-background-color: #e4e9e7;
  --datepicker-selected-day-color: #2ca01c;
  --datepicker-selected-day-background-color: rgba(44, 160, 28, 0.2);
  --grid-header-background-color: #bcd4b9;
  --grid-body__line-hover-background-color: #fff8cb;
  --grid-body__line-selected-background-color: #f9ecca;
  --footer-background-color: #020a01;
  --slide-bar-background-color: #020a01;
  --slide-bar--active-border-color: #2ca01c;
  --grid-header-border-bottom-color: #649a5d;
  --grid-header-border-left-color: #c7c7c7;

  --border-radius-default: 4px;
  --font-size-default: 14px;
  --font-weight-default: 500;
}

* {
  font-family: MISA Fonts;
  font-size: var(--font-size-default);
  color: #212121;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-transform: none;
}

body {
  margin: 0;
  display: flex;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}

main {
  background-color: var(--main-background-color);
  width: calc(100vw - 200px);
}
