.content__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.content__name{
    font-family: Bold Fonts;
    font-size: 24px;
    color: var(--font-color);
    
}

.content__table {
    background-color: #fff;
    height: calc(100vh - 56px - 32px - 36px - 16px);
}

.content__search{
    margin: 12px 12px;
}

.btn__execution {
    float: left;
    margin-top:13px ;
    height: 32px;
}

.content__search--input {
    float: right;
    color: #E0E0E0;
    font-size: var(--font-size);
    font-family: Italic Fonts;
    margin-top:13px ;
    display: flex;
    align-items: center;
}

.content__sreach-icon {

}

.content__input {
}

.search__input {
    padding-right: 18px;

}

.sreach__input:hover {
    border-color: #50B83C;
}

.content__repeat {
    background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -423px -201px;
    margin-left: 12px;
}

.content__export {
    background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -704px -200px;
    margin-left: 12px;
}


.content__main-table{
    margin: 12px;
    padding-top: 60px;
}

.content__table-content {
    height: 470px;
    overflow-x: scroll;
    overflow-y: unset;
}

.table__checkbox {
    cursor: pointer;
    min-width: 18px;
    accent-color: var(--color-primary);
}

.table__checkbox-input {
    width: 16px;
    height: 16px;
}

input.table__checkbox {
    width: 15px;
    height: 15px;
}

.table__id {
    min-width: 120px;
}
.table__name {
    min-width: 200px;
}
.table__gender {
    min-width: 80px;
}
.table__dob {
    min-width: 100px;
}
.table_idnumber {
    min-width: 150px;
}
.table__position {
    min-width: 200px;
}
.table__unitname {
    min-width: 200px;
}
.table__account-number {
    min-width: 150px;
}
.table__bank-name {
    min-width: 200px;
} 
.table__bank-branch {
    min-width: 200px;
}
.table__function {
    min-width: 100px;
}

.table__action {
    position: relative;
}

.table__action-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__action-name {
    cursor: pointer;
}

.table__icon {
    background: url("../../assets/img/Sprites.64af8f61.svg");
    background-position: -560px -359px;
    margin-left: 6px;
    margin-bottom: 2px;
    padding-right: 4px;
    padding-bottom: 4px;
    height: 12px;
    width: 12px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    transition: border 0.1s ease-in-out;
    cursor: pointer;
}

.table__icon:hover {
    border: 1px solid #000;
    display: block;
}

.table__detail {
    display: flex;
    justify-content: space-between;
    font-family: Regular Fonts;
    font-size: 14px;
}

.table__detail--sum {
    margin-top: 8px;
}

.page-item {
}

.page-link {
    text-decoration: none;
    border: 1px solid transparent;
    transition: border 0.3s ease-in-out;
    padding-left: 6px;
    padding-right: 6px;
    color: #000000;
    font-family: Regular Fonts;
    font-size: var(--font-size);
}

.page-link:focus, .page-link.active {
    border: 1px solid #E0E0E0;
    outline: none;
    color: #000;
    font-family: Bold Fonts;
} 

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border: none; 
}
.btn__wraning-name {
    display: none;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); 
}

.table--dropdown {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: 20%;
}

.table--dropdown a {
    padding: 8px 12px;
    width: 120px;
    height: 16px;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

.table--dropdown a:hover {
    background-color: #73C663;
    color: #fff;
}