:root {
    --color-background-sidebar: #2b2b2b;
    --width-sidebar: 200px;
    --width-sidebar-snap: 73px;
}
.sidebar {
    background-color: var(--color-background-sidebar);
    flex: 0 0 var(--width-sidebar);
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-grey-600) transparent;
}

.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-grey-600);
}
.sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
.nav-header {
    display: flex;
    height: var(--height-header);
    padding-left: 16px;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: var(--color-background-sidebar);
}
.nav-header .m-btn {
    align-self: center;
    margin-right: 8px;
}
.nav-header-logo {
    display: inline-block;
    flex: 1;
    background-image: url(../../../assets/img/Logo_Module_TiengViet_White.66947422.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 100px;
}
.nav-control {
    margin-top: 8px;
}
.nav-link-list {
    list-style: none;
    font-size: 14px;
}
.nav-link-item {
    color: #ffffff;
    height: 44px;
    line-height: 44px;
    min-width: 44px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: var(--border-radius-default);
    padding-left: 36px;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}

.nav-link-item ~ .nav-link-item {
    margin-top: 4px;
}
.nav-link-item:hover {
    background-color: var(--color-grey-500);
}
.nav-link-item:focus {
    border: 1px solid var(--color-border);
}
/* On Snap */

.sidebar.sidebar-snap {
    flex: 0 0 var(--width-sidebar-snap);
}
.sidebar.sidebar-snap .nav-link-item {
    margin-left: 13px;
    margin-right: 13px;
    min-width: 0;
    background-position: center;
}
.router-link-active {
    background-color: var(--color-grey-600);
}
