<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <div class="header">
      <div class="header__start">
        <div class="logo-container">
          <button class="btn-menu-option btn-icon-m transparent icon-container">
            <i class="icon icon-menu-option"></i>
          </button>
          <a class="btn-homepage ml-8" href="#">
            <img
              class="img-logo-homepage"
              src="../assets/img/Logo_Module_TiengViet_White.66947422.svg"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="header__center">
        <div class="btn-icon-menu-bar mr-8">
          <button class="btn-icon-m transparent icon-container">
            <i class="icon icon-menu-bar"></i>
          </button>
        </div>
        <div class="cur-company dropdown-m">
          <select name="" id="" class="dropdown-m-select">
            <option value="quiphuc">
              CÔNG TY TNHH SẢN XUẤT - THƯƠNG MẠI - DỊCH VỤ QUI PHÚC
            </option>
            <option value="single">
              CÔNG TY TNHH SẢN XUẤT - THƯƠNG MẠI - MỘT THÀNH VIÊN
            </option>
            <option value="apple">CÔNG TY TNHH APPLE</option>
          </select>
        </div>
      </div>
      <div class="header__end">
        <div class="notification">
          <button class="btn-icon-m transparent icon-container">
            <i class="icon icon-bell-light"></i>
          </button>
        </div>
        <div class="user">
          <div class="user-avatar">
            <img class="img-avatar" src="../assets/img/avatar.png" alt="" />
          </div>
          <div class="user-name">
            <p>Giang Trung Nghĩa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar expand">
      <div class="menu-bar scrollbar">
        <div class="menu-bar__group-items">
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-overview"></i>
              </div>
              <div class="menu-item__title">Tổng quan</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-cash"></i>
              </div>
              <div class="menu-item__title">Tiền mặt</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-deposit"></i>
              </div>
              <div class="menu-item__title">Tiền gửi</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-purchase"></i>
              </div>
              <div class="menu-item__title">Mua hàng</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-sell"></i>
              </div>
              <div class="menu-item__title">Bán hàng</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-bill"></i>
              </div>
              <div class="menu-item__title">Quản lý hóa đơn</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-warehouse"></i>
              </div>
              <div class="menu-item__title">Kho</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-tools"></i>
              </div>
              <div class="menu-item__title">Công cụ dụng cụ</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-assets"></i>
              </div>
              <div class="menu-item__title">Tài sản cố định</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-salary"></i>
              </div>
              <div class="menu-item__title">Tiền lương</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-tax"></i>
              </div>
              <div class="menu-item__title">Thuế</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-price"></i>
              </div>
              <div class="menu-item__title">Giá thành</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-cash"></i>
              </div>
              <div class="menu-item__title">Kết nối vay vốn</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-synthetic"></i>
              </div>
              <div class="menu-item__title">Tổng hợp</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-budget"></i>
              </div>
              <div class="menu-item__title">Ngân sách</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-report"></i>
              </div>
              <div class="menu-item__title">Báo cáo</div>
            </a>
          </div>
          <div class="menu-bar__item">
            <a class="menu-bar__item-box" href="#">
              <div class="menu-item__icon icon-container">
                <i class="icon icon-analysis"></i>
              </div>
              <div class="menu-item__title">Phân tích tài chính</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="title-container">
        <div class="title-container__title">
          <p class="heading3">Nhân viên</p>
        </div>
        <div class="title-container__button">
          <button class="btn-pri btn-add-employee">
            <p class="body1">Thêm mới nhân viên</p>
          </button>
        </div>
      </div>
      <div class="content-container mt-8">
        <div class="content__nav">
          <div class="search-box mr-8">
            <input
              class="input-field-s"
              type="text"
              placeholder="Tìm theo mã, tên nhân viên"
            />
            <i class="icon icon-search-detail i-search"></i>
          </div>
          <div class="reload">
            <button class="btn-icon-s transparent icon-container">
              <i class="icon icon-reload"></i>
            </button>
          </div>
        </div>
        <div class="content__table scrollbar mt-8">
          <table class="table-pri">
            <thead>
              <tr class="table-pri__row">
                <th class="table-pri__title">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  Mã nhân viên
                </th>
                <th class="table-pri__title">Tên nhân viên</th>
                <th class="table-pri__title">Giới tính</th>
                <th class="table-pri__title center">Ngày sinh</th>
                <th class="table-pri__title">Số CMND</th>
                <th class="table-pri__title">Chức danh</th>
                <th class="table-pri__title">Tên đơn vị</th>
                <th class="table-pri__title">Số tài khoản</th>
                <th class="table-pri__title">Tên ngân hàng</th>
                <th class="table-pri__title">Chi nhánh TK ngân hàng</th>
                <th class="table-pri__title">Chức năng</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="table-pri__row">
                <td class="table-pri__body">
                  <input
                    class="id table-checkbox checkbox-item-16"
                    type="checkbox"
                  />
                  NV0001
                </td>
                <td class="table-pri__body">Nguyễn Văn A</td>
                <td class="table-pri__body">Nam</td>
                <td class="table-pri__body center">01/01/1990</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">123456789</td>
                <td class="table-pri__body">
                  <div class="combo-box-s">
                    <button class="btn-link-s btn-edit-employee">
                      <p class="body2">Sửa</p>
                    </button>
                    <button
                      class="btn-context-menu btn-icon-s transparent icon-container"
                    >
                      <i class="icon icon-arrow-blue-solid-bottom"></i>
                    </button>
                    <div class="context-menu">
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Nhân bản</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Xóa</p>
                        </button>
                      </div>
                      <div class="context-menu__row">
                        <button class="btn-context__item">
                          <p class="row-label body2">Ngừng sử dụng</p>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
        </div>
        <div class="content__footer">
          <div class="content__footer-start">
            <div class="records-count">
              <span>Tổng số bản ghi: </span>
              <span><strong>100</strong></span>
            </div>
          </div>
          <div class="content__footer-end">
            <div class="title-record">
              <p>Bản ghi/Trang</p>
            </div>
            <div class="num-record-option">
              <select class="num-record" name="" id="">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
            </div>
            <div class="cur-record">
              <p class="subheader">1 - 9 bản ghi</p>
            </div>
            <div class="page-controller">
              <div class="page-down">
                <button class="btn-icon-s transparent icon-container">
                  <i class="icon icon-arrow-blue-left"></i>
                </button>
              </div>
              <div class="page-up">
                <button class="btn-icon-s transparent icon-container">
                  <i class="icon icon-arrow-blue-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-info-employee modal-container">
      <div class="modal">
        <div class="modal__header">
          <div class="header__start">
            <div class="header__title mr-24">
              <p class="heading1">Thông tin nhân viên</p>
            </div>
            <div class="header__role">
              <input
                class="checkbox-item-16 mr-8"
                type="checkbox"
                name="role-user"
              />
              <label class="label-field mr-24" for="role-user"
                >Là khách hàng</label
              >
              <input
                class="checkbox-item-16 mr-8"
                type="checkbox"
                name="role-supplier"
              />
              <label class="label-field" for="role-supplier"
                >Là nhà cung cấp</label
              >
            </div>
          </div>
          <div class="header__end">
            <button
              class="btn-modal-help btn-icon-m transparent icon-container"
            >
              <i class="icon icon-help"></i>
            </button>
            <button
              class="btn-modal-close btn-icon-m transparent icon-container"
            >
              <i class="icon icon-close"></i>
            </button>
          </div>
        </div>
        <div class="modal__body mb-8">
          <div class="row">
            <div class="col-2 mr-24">
              <div class="row">
                <div class="col-2/5 mr-8">
                  <div class="input-container">
                    <div class="label-box">
                      <label name="id" for="id"
                        >Mã <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="text"
                        name="id"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3/5">
                  <div class="input-container">
                    <div class="label-box">
                      <label name="name" for="name"
                        >Họ tên <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="text"
                        name="name"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-container">
                  <div class="label-box">
                    <label name="department" for="department"
                      >Đơn vị <span class="text-red">*</span></label
                    >
                  </div>
                  <div class="input-box">
                    <select class="select-box" name="" id="">
                      <option value="">-- Không chọn --</option>
                      <option value="">Hành Chính Nhân Sự</option>
                      <option value="">Tài Chính Doanh Nghiệp</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-container">
                  <div class="label-box">
                    <label name="job-title" for="job-title"
                      >Chức danh <span class="text-red">*</span></label
                    >
                  </div>
                  <div class="input-box">
                    <input
                      class="input-field-m"
                      type="text"
                      name="job-title"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="row">
                <div class="col-2/5 mr-8">
                  <div class="input-container">
                    <div class="label-box">
                      <label name="birth" for="birth">Ngày sinh</label>
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="date"
                        name="birth"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3/5">
                  <div class="input-container">
                    <div class="label-box">
                      <label name="gender" for="gender"
                        >Giới tính <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box radio-box-horizontal">
                      <div class="radio-item">
                        <input
                          class="input-radio"
                          id="male"
                          type="radio"
                          name="gender"
                          value="male"
                        />
                        <label for="male">Nam</label>
                      </div>
                      <div class="radio-item">
                        <input
                          class="input-radio"
                          id="female"
                          type="radio"
                          name="gender"
                          value="female"
                        />
                        <label for="female">Nữ</label>
                      </div>
                      <div class="radio-item">
                        <input
                          class="input-radio"
                          id="other"
                          type="radio"
                          name="gender"
                          value="other"
                        />
                        <label for="other">Khác</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3/5 mr-8">
                  <div class="input-container">
                    <div class="label-box">
                      <label
                        title="Số Căn Cước Công Dân/Chứng Minh Thư Nhân Dân"
                        name="identification-number"
                        for="identification-number"
                        >Số CCCD/CMTND <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="text"
                        name="identification-number"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-2/5">
                  <div class="input-container">
                    <div class="label-box">
                      <label name="license-date" for="license-date"
                        >Ngày cấp <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="date"
                        name="license-date"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-container">
                  <div class="label-box">
                    <label name="license-place" for="license-place"
                      >Nơi cấp <span class="text-red">*</span></label
                    >
                  </div>
                  <div class="input-box">
                    <input
                      class="input-field-m"
                      type="text"
                      name="license-place"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="input-container">
                  <div class="label-box">
                    <label name="address" for="address">Địa chỉ</label>
                  </div>
                  <div class="input-box">
                    <input
                      class="input-field-m"
                      type="text"
                      name="address"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3 mr-8">
                  <div class="input-container">
                    <div class="label-box">
                      <label
                        title="Điện thoại di động"
                        name="phone-number"
                        for="phone-number"
                        >ĐT di động <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="text"
                        name="phone-number"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3 mr-8">
                  <div class="input-container">
                    <div class="label-box">
                      <label
                        title="Điện thoại cố định"
                        name="landline"
                        for="landline"
                        >ĐT cố định</label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="text"
                        name="landline"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="input-container">
                    <div class="label-box">
                      <label name="email" for="email"
                        >Email <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="email"
                        name="email"
                        placeholder="nghia2905.personal@gmail.com"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3 mr-8">
                  <div class="input-container">
                    <div class="label-box">
                      <label name="bank-account" for="bank-account"
                        >Tài khoản ngân hàng
                        <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="text"
                        name="bank-account"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3 mr-8">
                  <div class="input-container">
                    <div class="label-box">
                      <label name="bank-company" for="bank-company"
                        >Tên ngân hàng <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="text"
                        name="bank-company"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="input-container">
                    <div class="label-box">
                      <label name="bank-branch" for="bank-branch"
                        >Chi nhánh <span class="text-red">*</span></label
                      >
                    </div>
                    <div class="input-box">
                      <input
                        class="input-field-m"
                        type="text"
                        name="bank-branch"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal__footer">
          <div class="footer__start">
            <button class="btn-extra">
              <p>Hủy</p>
            </button>
          </div>
          <div class="footer__end">
            <button class="btn-extra">
              <p>Cất</p>
            </button>
            <button class="btn-pri">
              <p>Cất và Thêm</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="popup">
      <div class="popup__header">
        <div class="popup__header-title">
          <p class="heading2">Dữ liệu đã thay đổi</p>
        </div>
        <div class="popup__header-close">
          <button class="btn-popup-close btn-icon-s transparent icon-container">
            <i class="icon icon-close"></i>
          </button>
        </div>
      </div>
      <div class="popup__body">
        <p class="body2">Lưu lại những thay đổi?</p>
      </div>
      <div class="popup__footer">
        <div class="popup__footer-option">
          <div class="footer__option-item">
            <button class="btn-extra icon-container">
              <p>Đóng</p>
            </button>
          </div>
          <div class="footer__option-item">
            <button class="btn-extra btn-dangerous icon-container">
              <p>Không Lưu</p>
            </button>
          </div>
          <div class="footer__option-item">
            <button class="btn-pri icon-container">
              <p>Lưu</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="toast-container">
      <div class="toast">
        <div class="toast__icon">
          <i class="icon icon-success mr-8"></i>
        </div>
        <div class="toast__body body2">
          <span class="toast__title">Thành công!</span>
          <span class="toast__msg">Công việc đã bị xóa</span>
        </div>
        <div class="toast__end">
          <span class="toast__action body1">Hoàn tác</span>
          <button class="btn-icon-s transparent icon-container">
            <i class="icon icon-xmark"></i>
          </button>
        </div>
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>
