<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/layout/home.css">
        <title>Danh sách nhân viên</title>
        <script src="../js/script.js"></script>
    </head>
    <body>
        <div class="employeelist">
            <div class="nav">
                <div class="nav nav--left">
                    <div class="icon nav__icon"></div>
                    <div class="nav__name">Công ty TNHH sản xuất - thương mại - dịch vụ Qui Phúc</div>
                    <div class="icon nav__title--dropdown"></div>
                </div>
                <div class="nav nav--right">
                    <div class="icon nav__logo--notify"></div>
                    <div class="nav__account">
                        <div class="nav__avatar"></div>
                        <div class="nav__username">Nguyễn quang Minh</div>
                        <div class="icon nav__title--dropdown"></div>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar__logo">
                    <div class="icon sidebar__icon"></div>
                    <img class= "sidebar__image" src = "../../asset/img/Logo_Module_TiengViet_White.66947422.svg" alt="Logo Kế Toán"/>
                </div>
                <div class="sidebar__content">
                    <div class="sidebar__feature">
                        <div class="icon sidebar__feature-logo" style="background-position: -30px -1628px"></div>
                        <div class="sidebar__feature-name">Tổng quan</div>
                    </div>
                    <div class="sidebar__feature">
                        <div class="icon sidebar__feature-logo" style="background-position: -73px -1628px"></div>
                        <div class="sidebar__feature-name">Tiền mặt</div>
                    </div>
                    <div class="sidebar__feature">
                        <div class="icon sidebar__feature-logo" style="background-position: -117px -1585px"></div>
                        <div class="sidebar__feature-name">Tiền gửi</div>
                    </div>
                    <div class="sidebar__feature">
                        <div class="icon sidebar__feature-logo" style="background-position: -161px -1628px"></div>
                        <div class="sidebar__feature-name">Mua hàng</div>
                    </div>
                    <div class="sidebar__feature">
                        <div class="icon sidebar__feature-logo" style="background-position: -204px -1585px"></div>
                        <div class="sidebar__feature-name">Bán hàng</div>
                    </div>
                    <div class="sidebar__feature">
                        <div class="icon sidebar__feature-logo" style="background-position: -249px -1628px"></div>
                        <div class="sidebar__feature-name">Quản lý đơn</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content__title">
                    <div class="content__name">Nhân viên</div>
                    <button class="btn-success btn__add-user" onclick="togglePopup()">Thêm mới nhân viên</button>
                    <div id="popupContainer" class="popup-container" style="display: none;">
                      <div class="popup-content">
                        <iframe src="../views/information.html" frameborder="0"></iframe>
                        <script src="../js/script.js"></script>
                      </div>
                    </div> 
                </div>
                <div class="content__table">
                    <div class="content__search">
                        <div class="content__search--input">
                           <div class="content__input">
                                <input class="input sreach__input" type="text" name="input" placeholder="Tìm theo mã, tên nhân viên">
                           </div>
                            <div class="content__sreach-icon"></div>
                            <div class="icon content__repeat"></div>
                        </div>
                    </div>
                    <div class="content__main-table">
                        <div class="content__table-content">
                            <table>
                                <tr>
                                    <th class="table__checkbox"><input type="checkbox"></th>
                                    <th class="table__id">Mã nhân viên</th>
                                    <th class="table__name">Tên nhân viên</th>
                                    <th class="table__gender">Giới tính</th>
                                    <th class="table__dob">Ngày sinh</th>
                                    <th class="table_cmnd">Số CMND</th>
                                    <th class="table__position">Chức danh</th>
                                    <th class="table__unitname">Tên đơn vị</th>
                                    <th class="table__account-number">Số tài khoản</th>
                                    <th class="table__bank-name">Tên ngân hàng</th>
                                    <th class="table__bank-branch">Chi nhánh ngân hàng</th>
                                    <th class="table__function">Chức năng</th>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>00012</td>
                                    <td>Nguyễn Văn Liệt</td>
                                    <td>Nam</td>
                                    <td>31/12/1969</td>
                                    <td>362520865</td>
                                    <td>Trưởng nhóm</td>
                                    <td>Xay keo - Phối trộn</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="table__action">
                                        <div class="table__action-button">
                                            <span class="table__action-name">Sửa</span>
                                            <div class="table__icon-check">
                                                <div class="table__icon"></div>
                                                <div class="table--dropdown">
                                                    <a href="#">Nhân bản</a>
                                                    <a href="#">Xóa</a>
                                                    <a href="#">Ngừng sử dụng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>000579</td>
                                    <td>Lưu Thủy Bình</td>
                                    <td>Nam</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="table__action">
                                        <div class="table__action-button">
                                            <span class="table__action-name">Sửa</span>
                                            <div class="table__icon-check">
                                                <div class="table__icon"></div>
                                                <div class="table--dropdown">
                                                    <a href="#">Nhân bản</a>
                                                    <a href="#">Xóa</a>
                                                    <a href="#">Ngừng sử dụng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td ><input type="checkbox"></td>
                                    <td>00083</td>
                                    <td>Nguyễn Văn Vũ</td>
                                    <td>Nam</td>
                                    <td>01/01/1993</td>
                                    <td>362520865</td>
                                    <td>Nhân viên</td>
                                    <td>Xay keo - Phối trộn</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="table__action">
                                        <div class="table__action-button">
                                            <span class="table__action-name">Sửa</span>
                                            <div class="table__icon-check">
                                                <div class="table__icon"></div>
                                                <div class="table--dropdown">
                                                    <a href="#">Nhân bản</a>
                                                    <a href="#">Xóa</a>
                                                    <a href="#">Ngừng sử dụng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>00093</td>
                                    <td>Đinh Văn Long</td>
                                    <td>Nam</td>
                                    <td>01/01/1993</td>
                                    <td>145630865</td>
                                    <td>Nhân viên</td>
                                    <td>Vận hành tại Hà Nội</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="table__action">
                                        <div class="table__action-button">
                                            <span class="table__action-name">Sửa</span>
                                            <div class="table__icon-check">
                                                <div class="table__icon"></div>
                                                <div class="table--dropdown">
                                                    <a href="#">Nhân bản</a>
                                                    <a href="#">Xóa</a>
                                                    <a href="#">Ngừng sử dụng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>00137</td>
                                    <td>Trương Việt Cần</td>
                                    <td>Nam</td>
                                    <td>12/06/1975</td>
                                    <td>234520865</td>
                                    <td>Trưởng ca</td>
                                    <td>Xưởng ép</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="table__action">
                                        <div class="table__action-button">
                                            <span class="table__action-name">Sửa</span>
                                            <div class="table__icon-check">
                                                <div class="table__icon"></div>
                                                <div class="table--dropdown">
                                                    <a href="#">Nhân bản</a>
                                                    <a href="#">Xóa</a>
                                                    <a href="#">Ngừng sử dụng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>00175</td>
                                    <td>Nguyễn Thị Thanh Hồng</td>
                                    <td>Nữ</td>
                                    <td></td>
                                    <td>362520865</td>
                                    <td>Nhân viên</td>
                                    <td>Xay keo - Phối trộn</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="table__action">
                                        <div class="table__action-button">
                                            <span class="table__action-name">Sửa</span>
                                            <div class="table__icon-check">
                                                <div class="table__icon"></div>
                                                <div class="table--dropdown">
                                                    <a href="#">Nhân bản</a>
                                                    <a href="#">Xóa</a>
                                                    <a href="#">Ngừng sử dụng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="table__detail">
                            <div class="table__detail--sum">Tổng số: <b>1035</b> bản ghi</div>
                            <div class="table__detail--paging">   
                                <div class="table__record--dropdown">
                                    <div class="table__record">
                                        20 bản ghi trên 1 trang
                                        <div class="icon table__record-icon"></div>
                                    </div>
                                    <div class="paging--dropdown">
                                        <a href="#">10 bản ghi trên 1 trang</a>
                                        <a href="#">20 bản ghi trên 1 trang</a>
                                        <a href="#">30 bản ghi trên 1 trang</a>
                                        <a href="#">50 bản ghi trên 1 trang</a>
                                        <a href="#">100 bản ghi trên 1 trang</a>
                                    </div>
                                </div>                         
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- <script src="../js/constant.js"></script>
        <script src="../js/popup.js"></script> -->
    </body>
</html>