<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thông tin nhân viên</title>
        <script src="../js/script.js"></script>
        <link rel="stylesheet" href="../css/layout/warning.css">
    </head>
    <body>
        <div class="warning">
            <div class="warning__content">
                <div class="warning__icon" style="background-position: -826px -456px;"></div>
                <span class="warning__name">Mã nhân viên <NV-0001> đã tồn tại trong hệ thống,<br> vui lòng kiểm tra lại</span>
            </div>
            <hr>
            <div class="warning__button" style="text-align: right;">
                <button class="btn-success">Đồng ý</button>
            </div>
        </div>
    </body>
</html>