<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thông tin nhân viên</title>
        <script src="../js/script.js"></script>
        <link rel="stylesheet" href="../css/layout/warning.css">
    </head>
    <body>
        <div class="warning" style="width:450px ;">
            <div class="warning__content">
                <div class="warning__icon" style="background-position: -826px -456px;"></div>
                <span class="warning__name">Dữ liệu đã bị thay đổi. Bạn có muốn cắt không?</span>
            </div>
            <hr>
            <div class="warning__button" style="display:flex; justify-content:space-between">
                <div class="warning__button--left">
                    <button class="btn-cancel">Hủy</button>
                </div>
                <div class="warning__button--right" style="display: flex; gap:8px;">
                    <button class="btn-cancel">Không</button>
                    <button class="btn-success">Có</button>
                </div>
            </div>
        </div>
    </body>
</html>