<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thông tin nhân viên</title>
        <script src="../js/script.js"></script>
        <link rel="stylesheet" href="../css/layout/warning.css">
    </head>
    <body>
        <div class="warning">
            <div class="warning__content">
                <div class="warning__icon"></div>
                <span class="warning__name">Tên không được để trống</span>
            </div>
            <hr>
            <div class="warning__button">
                <button class="btn-success">Đóng</button>
            </div>
        </div>
    </body>
</html>