/* ---------- SIDEBAR ---------- */

.sidebar {
    width: 56px;
    height: calc(100vh - 56px);
    background-color: var(--background-color-black);
    float: left;
}

.sidebar.expand {
    width: 200px;
}

.menu-bar {
    height: 100%;
    padding: 20px 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menu-bar__group-items {

}

.menu-bar__item {
    margin-bottom: 4px;
    height: 48px;
    line-height: 17px;
    border-radius: 4px;
    position: relative;

}

.menu-bar__item:hover {
    background-color: var(--background-color-black-hover);
}

.menu-bar__item-box {
    display: block;
    height: 48px;
    width: 100%;
    border-radius: 4px;
}

.menu-bar__item-box:focus {
    border: solid 1px #ccc;
}

.menu-item__icon {
    position: absolute;
    top: 12px;
    left: 0;
    width: 32px;
}

.menu-item__title {
    padding: 14px 0 13px 44px;
    color: var(--text-color-white-primary);
    
}