.btn-normal {
    background-color: #ffffff;
    height: var(--height-default);
    min-width: 80px;
    border: 1px solid #E0E0E0;
    border-radius: var(--border-radius);
    padding: 0 16px;
    cursor: pointer;
    margin-right: 8px;
}

.btn-normal:hover {
    background-color: #eeeeee;
}

.btn-normal:active,
.btn-normal:focus {
    background-color: #e0e0e0;
    outline: auto;
}

.btn-primary {
    background-color: var(--color-primary);
    color: #ffffff;
    height: var(--height-default);
    min-width: 80px;
    border: var(--color-border-default);
    border-radius: var(--border-radius);
    padding: 0 16px;
    cursor: pointer;

}

.btn-primary:hover {
    background-color: var(--color-hover);

}

.btn-primary:active,
.btn-primary:focus {
    background-color: var(--color-focus);
    outline: auto !important;
}