.drop-down-group {
    position: absolute;
    max-height: calc(100vh - 80px);
    width: max(100%, 120px);
    min-width: fit-content;
    border: 1px solid var(--color-border);
    background-color: #ffffff;
    box-shadow: 0px 4px 16px rgba(23, 27, 42, 0.24);
    padding: 7px;
    animation: showUp ease-out 0.05s;

    overflow-x: hidden;
    z-index: 100;
}
.drop-down-group::-webkit-scrollbar-track {
    background-color: transparent;
}
.drop-down-group::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-grey-600);
}
.drop-down-group::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
.drop-down-list {
    list-style-type: none;
}

.dropdown-wrapper {
    border-radius: var(--border-radius-default);
}

.drop-toggle-rotate {
    transition: rotate 0.15s linear;
    rotate: 180deg;
}

.drop-down-header {
    background-color: var(--color-grey-300);
}
.drop-down-item,
.drop-down-item-icon,
.drop-down-header {
    height: var(--height-default);
    line-height: var(--height-default);
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    display: flex;
}
.drop-down-item,
.drop-down-header {
    padding: 0 7px;
}
.drop-down-item-icon ~ .drop-down-item-icon,
.drop-down-item ~ .drop-down-item {
    margin-top: 4px;
}

.drop-down-item-icon:hover,
.drop-down-item:hover {
    cursor: pointer;
    background-color: currentColor;
}

.drop-down-footer {
    background-color: var(--color-grey-200);
}
