.header{
    height: 56px;
    width: calc(100% - 200px);
    background-color: white;
    float: right;
    box-shadow: 0px 1px #888888 ;
    display: flex;
    justify-content: space-between;
}

.left-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 12px;
}
.right-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px 0px 0px;
}