<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />

    <title>QUẢN LÝ NHÂN VIÊN | AMIS Kế Toán</title>
  </head>
  <body>
    <div class="form-container">
      <div class="dialog-content">
        <div class="dialog-wrapper">
          <div class="dialog-title">
            <h1>Thông tin không hợp lệ</h1>
            <div class="close-icon" onclick="closeWarning()"></div>
          </div>
          <div class="dialog-notification">
            <p class="warning-icon"></p>
            <p>
              Mã nhân viên &lt;MF1731&gt; đã tồn tại trên hệ thống, vui lòng
              kiểm tra lại.
            </p>
          </div>
          <div class="buttons">
            <a href="#">
              <button class="button" onclick="closeWarning()">Đồng ý</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
