<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />

    <title>QUẢN LÝ NHÂN VIÊN | AMIS Kế Toán</title>
  </head>
  <body>
    <div class="form-container">
        <div class="dialog-content">
          <div class="dialog-wrapper">
            <div class="dialog-title">
              <h1>Cảnh báo</h1>
              <div class="close-icon" onclick="closeExclamation()"></div>
            </div>
            <div class="dialog-notification">
              <p class="question-icon-dialog"></p>
              <p>
                Tên không được để trống
              </p>
            </div>
            <div class="buttons">
              <a href="#">
                <button class="button">Đồng ý</button>
              </a>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
