/* ----------INPUT RADIO---------- */

.radio-box-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio-box-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.radio-item {
  display: flex;
  height: 36px;
  align-items: center;
}

.radio-item .input-radio {
  margin-right: 4px;
  width: 18px;
  height: 18px;
}
