:root {
    --color-background-input: white;
    --color-background-input-hover: #f6f6f6;
    --color-input-placeholder: #9e9e9e;
    --color-input-text: #212121;
}

.m-label {
    width: 100%;
    color: var(--text-color);
    font-family: m-bold;
    margin-bottom: 8px;
    display: block;
}
.m-input-wrap {
    width: 100%;
}
.m-input {
    font-size: var(--font-size-input);
    width: 100%;
    background-color: var(--color-background-input);
    height: var(--height-default);
    padding-left: 12px;
    padding-right: 12px;
    color: var(--color-input-text);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-default);
    outline: none;
}
.m-input:hover {
    background-color: var(--color-background-input-hover);
}

.m-input::placeholder {
    font-size: var(--font-size-input);
    color: var(--color-input-placeholder);
    font-family: m-italic;
}

.m-input-danger {
    border-color: var(--color-red-400);
}
.m-input:focus {
    border-color: var(--color-green-400);
}
.m-input-danger--info {
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-red-400);
}
.m-input-error-message {
    display: none;
    position: absolute;
    background-color: var(--text-color);
    color: white;
    white-space: nowrap;
    font-size: 10px;
    padding: 4px 12px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.m-input-disabled {
    background-color: var(--color-background-input);
}
.m-input-disabled:hover {
    background-color: var(--color-background-input);
}
.m-input-valid {
    border-color: var(--color-green-400);
}
.m-input-with-icon {
    position: relative;
}
.m-input-with-icon .m-input {
    padding-right: var(--height-default);
}

.m-input-with-icon button {
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    right: 0;
    top: 0;
}

/* INPUT NUMBER */
.m-input-number {
    text-align: right;
    padding-right: 56px;
}
.m-input-number-wrap {
    position: relative;
    z-index: 1;
}
.m-input-number-wrap::before {
    content: '(VND)';
    font-style: italic;
    line-height: 36px;
    color: var(--color-input-placeholder);
    position: absolute;
    z-index: 2;
    right: 0;
    padding-right: 8px;
    top: 25px;
}
/* CHECKBOX */
.radio-group {
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
}
.radio-item input[type='radio']:checked + .m-btn-icon {
    background-image: url(../../../assets/icons/radio-checked.svg);
}

/* LOADING INPUT */
.m-display-loading {
    display: none;
}
.m-loading .m-display-loading {
    display: flex;
}
.m-loading .m-input {
    border-color: var(--color-green-400);
}

/* DATE INPUT */
input.m-input[type='date'] {
    padding-right: 0;
    text-transform: uppercase;
    color: var(--color-input-placeholder);
    font-family: m-regular;
}
input.m-input[type='date']:focus {
    color: var(--color-input-text);
}
input[type='date']::-webkit-calendar-picker-indicator {
    background-color: transparent;
    font-size: 20px;
    right: 0;
    padding: 8px;
    cursor: pointer;
    outline: none;
}
input[type='date']::-webkit-calendar-picker-indicator:hover {
    background-color: var(--color-grey-300);
}
input[type='date']::-webkit-calendar-picker-indicator:focus {
    border: 1px solid var(--color-border);
}
