/*
    html mẫu cho text-field:

    <div class="m-textfield" style="width: 100%;">
        <label name="staff-id">Mã <b style="color: red;">&nbsp;*</b></label>
        <input type="text" name="staff-id" placeholder="" />
        <a href="#"><div class="mi mi-24 mi-search"></div></a>
        <span class="tf-danger">&lt;Tên trường&gt; không được để trống</span>
    </div>

    ngoài ra có thêm các class vào div như: m-textfield-icon, m-textfield-icon-action,
    m-textfield-danger .
*/

.m-textfield label {
    /* font-family: Roboto; */
    height: var(--rounded-button-height); /* zero  36px*/
    color: #1F1F1F;
}

.m-textfield input {
    display: block;
    width: 100%;
    height: var(--rounded-button-height); /* zero */
    border-radius: var(--border-radius-default); /* zero */
    background-color: #FFF; /* zero */
    border: solid 1px #EBEBEB; /* zero */
    margin-top: 8px; /* zero */
    padding: 0 12px; /* zero */
}

.m-textfield input::placeholder {
    color: #9E9E9E; /* zero */
    font-weight: 400; /* zero */
    letter-spacing: 0; /* Trong zeroheight ghi 14px */
    line-height: 14px; /* zero */
}

.m-textfield input:hover {
    background-color: #F6F6F6; /* zero */
    cursor: pointer;
}

.m-textfield input:focus {
    background-color: #FFF; /* zero */
    border-color: #50B83C; /* zero */
    outline: none; /* zero */
}

.m-textfield input:disabled {
    background-color: #F6F6F6; /* zero */
    border-color: #EBEBEB; /* zero */
    cursor: not-allowed;
}

.m-textfield input:disabled:hover {
    background-color: #F6F6F6; /* zero */
}

.m-textfield span {
    display: none;
}

.m-textfield-danger input { /* zero */
    border-color: #E61D1D !important;
}

.m-textfield-danger span { /* zero */
    display: inline !important;
    color: #E61D1D;
    font-weight: 400;
    font-size: 12px;
}

/* ------------------- input có icon tĩnh ------------------- */
.m-textfield-icon {
    padding-right: 28px;
    background-image: url(../../assets/icons/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 8px center;
}

/* ------------------- input có icon action ------------------- */

.m-textfield-icon-action {
    display: flex;
}

.m-textfield-icon-action input {
    padding-right: 30px; /* zero: 20px (icon) + 8px (pading-right-input) = 28px */
}

.m-textfield-icon-action a {
    position: relative; /* zero */
    right: 28px; /* zero: 20px (icon) + 8px (pading-right-input) = 28px */
    top: 8px; /* zero */
    width: 20px; /* Kích thước icon */
    height: var(--rounded-button-height); /* zero */
    display: flex;
    align-items: center;
    justify-content: center;
}