@import url(../component/button.css);
@import url(../component/combobox.css);
@import url(../component/dialog.css);
@import url(../component/input.css);
@import url(../component/icon.css);
@import url(../component/table.css);
@import url(../component/tooltip.css);
@import url(../main.css);

.employeelist {
        display: grid;
        grid-template-columns: 200px calc(100% - 200px);
        grid-template-rows: 56px calc(100% - 56px);
        width: 100vw;
        height: 100vh;
        grid-template-areas:
                        "area1 area2 "
                        "area1 area3 "
}

.sidebar {
    background-color: #041434;
    grid-area: area1;
}

.sidebar__logo {
    height: 56px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__image {
    height: 36px;
    width: 140px;
}

.sidebar__icon {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -424px -86px;
}

.sidebar__content{
    margin: 12px 20px;
    height: calc(100% - 80px);
}

.sidebar__feature {
    color: #869AB8;
    height: 44px;
    width: 176px;
    border-radius: var(--border-radius);
    display: flex;
    font-size: var(--font-size);
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;
}

.sidebar__feature-logo {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    /* margin-left: 15px; */
    margin-right: 12px;
}

.nav {
    grid-area: area2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav--left {
    display: flex;
    align-items: center;
}

.nav__icon {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -843px -30px;
    margin-left: 16px;
    margin-right: 16px;
}

.nav__title--dropdown {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -80px -360px;
    margin-left: 10px;
    transform: rotate(90deg);
    margin-top: 10px;
}

.nav__name {
    font-family: Bold Fonts;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
}

.nav .nav--right {
    display: flex;
    align-items: center;
}

.nav__logo--notify {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -788px -30px;
}

.nav__account {
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;
    gap: 8px;

}

.nav__avatar {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -352px -894px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.nav__username {
    font-family: Bold Fonts;
    font-size: var(--font-size);
}

.content-main {
    grid-area: area3;
    padding: 16px 24px;
    background-color: #EEEFF1;

}

.content__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.btn__add-user{
    cursor: pointer;
}

.content__name{
    font-family: Bold Fonts;
    font-size: 24px;
    color: var(--font-color);
    
}

.content__table {
    background-color: #fff;
    height: calc(100vh - 56px - 32px - 36px - 16px);
}

.content__search{
    margin: 12px 16px;
}

.content__search--input {
    float: right;
    color: #9E9E9E;
    font-size: var(--font-size);
    font-family: Italic Fonts;
    margin-top:12px ;
    display: flex;
    align-items: center;
}

.content__sreach-icon {

}

.content__input {
}

.sreach__input {
    width: calc(260px - 2px - 12px - 8px);
    border: 1px solid #E0E0E0;
    padding: 8px 8px 8px 12px;
    border-radius: var(--border-radius);

}

.sreach__input:hover {
    border-color: #50B83C;
}

input:focus{
	border: 1px solid #50b83c;
  	outline: none;
}
.content__repeat {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -423px -201px;
    margin-left: 8px;
}


.content__main-table{
    margin: 12px;
    padding-top: 70px;
}

.content__table-content {
    max-width: 1164px;
    overflow-x: scroll;
    overflow-y: unset;
}

.table__checkbox {
    cursor: pointer;
    min-width: 15px;
}

.table__id {
    min-width: 120px;
}
.table__name {
    min-width: 200px;
}
.table__gender {
    min-width: 80px;
}
.table__dob {
    min-width: 100px;
}
.table_cmnd {
    min-width: 150px;
}
.table__position {
    min-width: 200px;
}
.table__unitname {
    min-width: 200px;
}
.table__account-number {
    min-width: 100px;
}
.table__bank-name {
    min-width: 200px;
} 
.table__bank-branch {
    min-width: 200px;
}
.table__function {
    min-width: 100px;
}

.table__action {
    position: relative;
}

.table__action-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__action:hover .table--dropdown {
    display: block;
}

.table__action-name {
    cursor: pointer;
}

.table__icon {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -560px -359px;
    margin-left: 6px;
    margin-bottom: 2px;
    padding-right: 4px;
    padding-bottom: 4px;
    height: 12px;
    width: 12px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    transition: border 0.1s ease-in-out;
    cursor: pointer;
}

.table__icon:hover {
    border: 1px solid #000;
    display: block;
}

.table--dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: 20%;
}

.table--dropdown a {
    padding: 8px 12px;
    width: 120px;
    height: 16px;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

.table--dropdown a:hover {
    background-color: #73C663;
    color: #fff;
}

.table__action-button.active + .table--dropdown {
    display: block;
}

.table__detail {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    font-family: Regular Fonts;
    font-size: 14px;
}

.table__detail--sum {
    margin-top: 8px;
}

.table__detail--paging {
    display: flex;
    /* height: 26px; */
}

.pagination {
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;
}

.table__record {
    border: 1px solid #000;
    padding: 0px 8px ;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.table__record--dropdown {
    position: relative;
    display: inline-block;
}

.paging--dropdown {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    bottom: 100%;
}

.table__record--dropdown:hover .paging--dropdown {
    display: block;
}


.paging--dropdown a {
    width: 179px;
    height: 16px;
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

.paging--dropdown a:hover {
    background-color: #73C663;
    color: #fff;
}

.table__record-icon {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -560px -359px;
    margin-left: 12px;
    margin-top: 8px;
}

.page-item {
}

.page-link {
    text-decoration: none;
    border: 1px solid transparent;
    transition: border 0.3s ease-in-out;
    padding-left: 6px;
    padding-right: 6px;
    color: #000000;
    font-family: Regular Fonts;
    font-size: var(--font-size);
}

.page-link:focus, .page-link.active {
    border: 1px solid #9E9E9E;
    outline: none;
    color: #000;
    font-family: Bold Fonts;
} 

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border: none; 
}

.popup-container {
    display: none;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); 
}

iframe {
    background-color: #ffffff;
    width: 902px;
    height: 627px;
    border-radius: var(--border-radius);
    border: 1px solid #000;
}



