@import url(../component/button.css);
@import url(../component/combobox.css);
@import url(../component/dialog.css);
@import url(../component/input.css);
@import url(../component/icon.css);
@import url(../component/table.css);
@import url(../component/tooltip.css);
@import url(../main.css);

body {
    height: 625px;
    width: 900px;
}
.user-form {
    background-color: #ffffff;
    height: 625px;
    width: 900px;
}
.header{
    height: 49px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    display: flex;
    align-items:end;
    padding: 24px 24px 0px 24px;
    gap: 24px;
}

.header__name {
    font-size: 24px;
    font-family: Bold Fonts;
}

.header__checkbox {
    display: flex;
    gap: 28px;
    padding-bottom: 2px;
}

.header__checkbox--guest {
    display: flex;
    align-items: center;
    gap:8px;
    
}

.header__checkbox--supplier {
    display: flex;
    align-items: center;
    gap:8px;
}

.header__checkbox-input {
    height: 18px;
    width: 18px;
}

.header__checkbox-label {
    font-family: Regular Fonts;
    font-size: var(--font-size);
}

.header__icon {
    display: flex;
    padding: 13px 24px 0px 0px;
    gap: 8px;

}

.header__icon--question {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -89px -144px;
    cursor: pointer;
}

.header__icon--quit {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -144px -144px;
    cursor: pointer;
}

.content {
    margin: 24px 24px 12px 24px;
}

.subcontent {
    display: flex;
    margin-bottom: 10px;
}

.subcontent__input {
    border-radius: var(--border-radius);

}

.subcontent__label {
    margin-bottom: 8px;
}

.subcontent__name {
    font-family: Bold Fonts;
}

.subcontent__required {
    margin-left: 4px;
    color: #ff0000;
}

.subcontent__input {
    border: 1px solid #babec5;
    height: calc(32px - 2px);
    padding-left: 8px;
}

.birthday-icon {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    background-position: -124px -308px;
    position: absolute; 
    right: 15px; 
    top: 50%; 
    transform: translateY(-50%);
}

.gender {
    display: flex;
    height: 32px;
    align-items: center;
    gap:21px;
    margin-left: 9px;
}

.gender__checkbox {
    display: flex;
    gap: 8px;
    align-items: center;
}

.gender__radio-button {
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.gender__radio-button:hover  {
}


.gender__name {

}

hr {
    margin: 32px 24px 32px 24px;
}
.btn {
    display: flex;
    justify-content: space-between;
    margin: 24px 24px 12px 24px;
}

.btn--left {
}

.btn--cancel {
    background-color: #ffffff;
    border: 1px solid #000000;
}

.btn--right {
    display: flex;
    gap: 8px; 
}

.btn--hidden {
    background-color: #ffffff;
    border: 1px solid #000000;
}

.btn--add {
    background-color: var(--color-primary);
    color: #ffffff;
}