@import url(../component/button.css);
@import url(../component/combobox.css);
@import url(../component/dialog.css);
@import url(../component/input.css);
@import url(../component/icon.css);
@import url(../component/table.css);
@import url(../main.css);

body {
    width: 416px;
}
.warning {
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: var(--border-radius);
}

.warning__content {
    margin: 24px;
    display: flex; 
    align-items: center; 
    gap: 12px;
    /* justify-content: center; */
}

.warning__icon {
    background: url("../../../asset/img/Sprites.64af8f61.svg");
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: -24px -954px;
    cursor: pointer;
}

.warning__name {
    font-family: Regular Fonts;
    font-size: var(--font-size);
}

hr {
    margin: 24px;
}

.warning__button {
    text-align: center;
    margin: 24px;
}

.btn-cancel {
    background-color: #ffffff;
    border: 1px solid #000;
}