.combobox{
    position: relative;
    display:flex;
    flex-direction: column;
}

.combobox__button{
    height:100%;
    width:36px;
    padding:8px;
    /* border-left:1px solid #E0E0E0; */
    position:absolute;
    right:1px;
    top:0;
    border-radius:4px;
    cursor:pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}
/* .combobox-button:hover {
    background-color: #EEEEEE;
} */

.combobox__icon{
    width:16px;
    height:16px;
    font-size:16px;
    color:#757575;
    position:absolute;
    right:8px;
    top: 10px;
}

.combobox__menu{
    width:100%;
    max-height:200px;
    border: 1px solid #E0E0E0;
    position:absolute;
    z-index:5;
    background-color: white;
    /* display:none; */
    border-radius:4px;
    box-shadow: 0 3px 6px rgba(23,27,42,0.24);
    overflow:auto;
    padding:8px;
}
.combobox__menu--up{
    bottom: calc(100% + 2px);
}
.combobox__menu--down{
    top: calc(100% + 2px);
}
.combobox__item{
    height:36px;
    display:flex;
    align-items: center;
    padding:0 8px;
    border-radius: 4px;
    cursor:pointer;
}
.combobox__item:hover {
    background-color: #DCF1D8;
}
.checked, .checked:hover{
    background-color: #DCF1D8;
}
