.context-menu{
    border:1px solid #E0E0E0;
    background-color: #fff;
    padding: 16px 0;
    border-radius: 4px;
    min-width:150px;
}
.context-menu__item {
    height:48px;
    padding-left:24px;
    display:flex;
    align-items: center;
    gap:8px;
    cursor:pointer;
}
.context-menu__item:hover {
    background-color: #DCF1D8;
}
.context-menu__icon{
    height:24px;
    width:24px;
    display:flex;
    align-items: center;
    justify-content: center;
}