.paging {
    padding: 16px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paging__right {
    display: flex;
    align-items: center;
    gap:16px;
}

.paging__arrow {
    height: 24px;
    width:24px;
    border:none;
    background-color: #fff;
    color:#9E9E9E;
    font-size: 16px;
    cursor:pointer;
}

.paging__arrow[disabled]{
    opacity:0.56;
    cursor:auto;
}
